[2016-06-13 03:38] charliesbox opened #1 "Add documentation"

[2016-06-13 03:39] charliesbox opened #2 "Add iOS support"

[2016-06-23 03:20] charliesbox commented on #2
done!

[2016-06-23 03:20] #2 closed

[2016-06-29 15:59] charliesbox opened #3 "Add an example"

[2016-06-29 17:40] saverchenkov opened #4 "Tests?"
How about some basic test harness?

[2016-07-02 04:13] #1 closed

[2016-07-02 04:14] charliesbox opened #5 "Support RNPM"

[2016-07-09 11:26] undef1ned opened #6 "Build fails on Android due to conflict with other module"
I've tried to build the app with this library but it fails, I found the reason is that I'm also using https://github.com/zo0r/react-native-push-notification which has gms dependancy

I'm on LG G4 / Android 5.1 / RN 0.26.3

[2016-07-09 13:36] charliesbox commented on #6
have you enabled multidex in your app?

[2016-07-09 18:48] undef1ned commented on #6
Yes, in my main project I have multiDexEnabled true

[2016-07-10 16:29] charliesbox commented on #6
Try adding dexOptions

Problem I found with other google libraries is that they include all the play services package, when you only require just some of the services.

If this doesn't work, last step would be to check the play services config.

[code]

[2016-07-10 16:31] charliesbox commented on #6
BTW, this is my build.gradle config. Im using this library and google-signin

For the record, i'm not adding `apply plugin [...]` at the end of the file

[code]

[2016-07-14 03:53] jalbrecht opened #7 "[Android] 0 Devices"
I'm getting the right devices on the iOS end, just not Android. They share the same class for both so I don't think its on my end. I'm listening to the DEVICE_AVAILABLE event then calling getDevices() right after and I'm getting the "devices size 0" log.

I tried polling every few seconds regardless of the event and still nothing.

I see the chromecast device when I open the Chromecast app, and I

[2016-07-14 18:50] charliesbox commented on #7
hi, i just tried your example, and it worked fine for me.

Did you add  `Chromecast.startScan();` method?

[code]

[2016-07-14 22:42] jalbrecht commented on #7
Yup. Here is the log:

[code]

Do you happen to have a skeleton app I can run/compare to? I'm going to try on a fresh RN build now. Maybe something is conflicting

[2016-07-14 23:38] jalbrecht commented on #7
Going to close this. Looks like its (still) an issue on the CCL/Google Cast SDK end.

Had the same results on the example app until I rebooted the Chromecast itself then it appeared. Repeated on 2 devices.

More info if you're interested:
https://github.com/googlecast/CastCompanionLibrary-android/issues/36
https://code.google.com/p/google-cast-sdk/issues/detail?id=314

I'll make a PR if there's a

[2016-07-14 23:38] #7 closed

[2016-07-15 05:50] charliesbox commented on #7
Thanks for the conclusion @jalbrecht. Waiting for that PR!

[2016-07-15 16:17] #3 closed

[2016-07-25 19:29] undef1ned commented on #6
Sorry for the late reply,

I just noticed that this module generates gms aars@9.0.0 while notification module depends on

[code]

adding this line to main project build.gradle

[code]

fixed my issue

[2016-07-25 19:31] charliesbox commented on #6
oh, a difference between services versions. great you found a solution! will close the issue then :)

[2016-07-25 19:31] #6 closed

[2016-08-09 06:34] mfs780 opened #8 "Build Fails - No Delegate set : lost message:Done"
I am getting the following error when trying to build after following the instructions. Same errors occur when I try using the example application.

I get a long list of errors some of which are the following. Let me know if you can help. Thanks.

AAPT out(1063813574) : No Delegate set : lost message:Done
AAPT: C:\Users\mfs78\Desktop\reactnative\CastHelloText-chrome-master\example\node_modules\rea

[2016-08-23 21:57] chiraggshah opened #9 "undefined is not an object (evaluating 'GoogleCast.DEVICE_CHANGED')"
I get the following error. I have tested on simulator and on device.

[code]

[2016-08-24 04:54] charliesbox commented on #9
@chiraggshah are you having this issue in both platforms?

[2016-08-24 12:09] chiraggshah commented on #9
@charliesbox : I had tried only for iOS. I tried your sample app and that worked perfectly.

On a sidenote, what if I want to cast a URL which is not a media, maybe a webpage or a slideshow of images? Is that possible? If not, should I create a separate issue for it?

[2016-08-24 17:05] charliesbox commented on #9
both are possible, but it requires a custom receiver. I think it could be simple enough, so if anybody feels in the mood, it could open a pull request to add the feature.

Feel free to open the issue :)

[2016-08-24 18:25] chiraggshah opened #10 "Feature Request: Ability to cast a URL, can be a webpage or a youtube link or an image"

[2016-09-07 11:41] luisfpinto commented on #10
I really would like this feature!

[2016-09-13 07:34] jsdario commented on #5
Seems to work with Android, but I still have to manually build it on iOS. Am I wrong?

[2016-09-13 07:52] jsdario commented on #9
@chiraggshah did you solve it? I believe it is because we need to properly link the libraries before.

[2016-09-13 11:32] chiraggshah commented on #9
@jsdario : I didnt try it later. I tried out the sample app and that worked out for me.

[2016-09-13 14:13] charliesbox commented on #9
@jsdario did you link the library ? According the readme:

- In Libraries choose Add files... and add the folder ios/RNGoogleCast from the node_modules/react-native-google-cast/ios folder. Be sure that the option copy if needed is unchecked.
- Add pod 'google-cast-sdk' to your Podfile. This is the easier way to have the sdk up to date.
- If you get an error after building the project, be sure that

[2016-09-13 14:17] jsdario commented on #9
Hi @charliesbox thanks for replying. Yes I followed all those steps but I was not able to link it correctly. React Native Packager returned `Skipping RNGoogleCast, file of type directory unexpected`. So I understand that did not help.

If there is a way to implement this as `rnpm` plugin I can make a PR or something. But I yet do not know fully how to do this.

[2016-09-13 14:20] charliesbox commented on #9
I haven't read the rnpm documentations yet, so I can't guide you there.
So, this happens to you in debug mode?

[2016-09-13 14:46] charliesbox commented on #5
well, you don't need to build it as a separate entity. You just add the folder to xcode, and add cocoapods to support the native sdk.

will look further to add the library without effort thru rnpm. just need to find some free time.

[2016-09-16 14:41] pablopi opened #11 "Problem compiling react-native-google-cast"
Hello,

I'm trying to compile the react-native-google-cast and when my react native application tries to do this I get:

[code]

Any tip?

[2016-09-16 14:51] undef1ned commented on #11
Check this, the problem is a little bit different, but may-be it will help

https://github.com/charliesbox/react-native-google-cast/issues/6#issuecomment-235058572

[2016-09-16 14:55] #11 closed

[2016-10-24 20:15] vindvaki commented on #9
@jsdario I just ran into the same issue, and found that I had to add them as "group" as opposed to "folder" and now
[code]
works for me.

[2016-10-24 21:43] charliesbox commented on #9
@vindvaki good tip. Will update the readme to include this. Thanks!

[2016-11-01 06:08] charliesbox commented on #5
Heads Up to this issue: I'm working on supporting react-native link !

It's almost done. Should be ready this week.

[2016-11-01 06:11] charliesbox commented on #8
is the issue still happening to you?

[2016-11-04 03:22] charliesbox commented on #5
`react-native link react-native-google-cast` will do the trick for both platforms!

 Cocoapods is still required to manage the sdk, as it is kinda huge to upload it into the repository

[2016-11-04 03:22] #5 closed

[2016-11-04 03:25] charliesbox commented on #9
I just published a new version of the library, supporting `react-native link`. As this issue looks to be related to the way it was linked manually, this version should fix this problem.

Let me know if you still are having this issue :)

[2016-11-04 03:28] charliesbox commented on #8
inactive issue. closing.

[2016-11-04 03:28] #8 closed

[2016-11-12 19:57] wski opened #12 "Failed to crunch"
Error:com.android.builder.internal.aapt.AaptException: Failed to crunch file node_modules\react-native-google-cast\android\build\intermediates\exploded-aar\com.google.android.libraries.cast.companionlibrary\ccl\2.8.4\res\drawable-hdpi\ic_closed_caption_grey600_48dp.png into node_modules\react-native-google-cast\android\build\intermediates\res\merged\androidTest\debug\drawable-hdpi\ic_closed_captio

[2016-11-14 03:48] charliesbox commented on #12
could you try this fix? https://github.com/charliesbox/react-native-google-cast/issues/6

Looks like it is requiring an image that doesn't exists in the current android sdk that you're using.

[2016-11-14 04:08] wski commented on #12
I tried adding the options, and adding the play services line before the cast lib
[code]

[2016-11-14 07:50] Guichaguri commented on #12
@charliesbox Google highly recommends to not use OS assets since they can change them anytime. You should replace these icons with [Material Design Iconset](https://material.io/icons/)

[2016-11-14 13:35] charliesbox commented on #12
@Guichaguri im not using them. The sdk does.

[2016-11-14 17:26] Guichaguri commented on #12
So Google is doing what they recommend not to? I guess the only way to fix this is using another Android SDK version :/

[2016-11-14 19:54] wski commented on #12
Which version of the SDK are you guys using? I'll try switching to that to see if that fixes it. Thanks for all the help

[2016-11-15 05:15] charliesbox commented on #12
@Guichaguri i will update the library to support the latest chromecast sdk. hopefully, that would address this missing icon issue.

[2016-11-16 00:36] hirmes opened #13 "npm install error: "peerinvalid Peer react-native-google-cast@1.0.0 wants react-native@^0.29.0""
When trying to install with `npm`, in a project with a recent version of React Native, I'm getting this error:
[code]

It appears that both the `master` branch and the latest `features/new-functions` branch include these outdated references:

`package.json`:

[code]

`build.gradle`:

[code]

Can these be updated to the latest version?

[2016-11-16 14:12] kullt opened #14 "Example app not finding chromecasts on android"
The example app builds and runs on android with no errors but when I search for devices it doesn't find any.

Weirdly it will find only one of my two chromecasts if another app (e.g. netflix) is open and connected to it or has just been connected to it.  As soon as I close the other app the example app won't find any chromecasts again.

I made no changes to the example app just cloned and ran it.

[2016-11-17 22:07] robertherber opened #15 "Bug with multiple Casts (getDevices)"
I'm getting a list with multiple instances of the same Chromecast when calling getDevices. The reason for this seems to be that the singleDevice variable is the same reference for all casts - move it inside the loop and it should be fine!

[code]

[2016-11-17 22:15] robertherber opened #16 "Support for sessions"
It would be great to be able to use sessions - so that it's possible to connect to any current session.

[2016-11-18 00:03] jackbillstrom commented on #13
@hirmes Have you tried? If so, what errors do you get?

[2016-11-18 02:22] hirmes commented on #13
@jackbillstrom Updating the `package.json` reference to `"react-native": "*"` and the `build.gradle` reference to `compile 'com.facebook.react:react-native:+'` allows the package to install without npm reporting any errors. I haven't yet determined if those changes cause any issues within an RN project though.

[2016-11-18 02:40] hirmes commented on #13
@jackbillstrom Just to follow up a bit more, I've determined that changing the `build.gradle` file is unnecessary to install without npm errors.  Just the `package.json` change is needed.

Also, I'm running npm v2.15.8, so maybe this older version is the cause of the error.

[2016-11-18 11:14] codetony25 commented on #15
+1

[2016-11-19 03:23] charliesbox commented on #15
fixed! thank @codetony25 !

[2016-11-19 03:23] #15 closed

[2016-11-19 03:24] charliesbox commented on #13
i removed the peerdependency requirement in the last version. the warning shouldn't appear again.

If so, please reopen this issue.

[2016-11-19 03:24] #13 closed

[2016-11-19 03:25] charliesbox commented on #9
DEVICE_CHANGED was removed in the last version. Please use DEVICE_CONNECTED and DEVICE_DISCONNECTED to detect changes in the devices.

[2016-11-19 03:25] #9 closed

[2016-11-19 03:26] charliesbox commented on #12
Using the latest companion library this time. let me know if the issue still happens!

[2016-11-19 03:26] #12 closed

[2016-11-19 04:09] wski commented on #12
I tried rebuilding after npm installing at `1.2.0` but still get the error. Is it possible I should switch something with the build tools on my end? Could there be something else cached other than node modules?

[2016-11-19 04:10] charliesbox commented on #12
@wski mm, it could be. could you try removing your node modules and installing again?

[2016-11-19 04:18] wski commented on #12
Still getting `Error:com.android.builder.internal.aapt.AaptException: Failed to crunch file \node_modules\react-native-google-cast\android\build\intermediates\exploded-aar\com.google.android.libraries.cast.companionlibrary\ccl\2.9.1\res\drawable-hdpi\ic_closed_caption_grey600_48dp.png into \node_modules\react-native-google-cast\android\build\intermediates\res\merged\androidTest\debug\drawable-hdpi

[2016-11-19 05:42] charliesbox commented on #12
k, will add compile "com.android.support:appcompat-v7:23.0.1" to the example library. I have the feeling it's related to the issue.

[2016-11-19 07:52] wski commented on #12
Is there something I need to change to be able to use it? I can try to
change it to whatever you're using. Thanks for all the help by the way

On Sat, Nov 19, 2016 at 12:42 AM, Charlie <notifications@github.com> wrote:

--
*Matt Wisniewski* \ *Software Engineer *

*a software engineer with a love for the web, JavaScript and bold coffee
overpowered by cheap creamer. *
http://wski.github.io
http://g

[2016-11-21 21:00] codetony25 opened #18 "Getting :react-native-google-cast:processReleaseResources FAILED"
When attempting to run on android this is the error message i'm getting when typing in `react-native run-android`:

[code]

Everything is running perfectly fine on on iOS, but not android. Is this a known issue?

[2016-11-21 21:31] charliesbox commented on #18
this is new. Will take a look.

[2016-11-22 02:19] codetony25 commented on #18
This was fixed, it was due to a gradle build had to get the correct version

[2016-11-22 02:20] #18 closed

[2016-11-22 02:24] codetony25 opened #19 "undefined is not an object (evaluating 'GoogleCast.DEVICE_AVAILABLE') on Android"
currently getting this on version react-native-google-cast version 1.2.0, when doing `react-native run-android`
<img width="378" alt="screen shot 2016-11-21 at 6 23 44 pm" src="https://cloud.githubusercontent.com/assets/10192761/20508620/ab874546-b017-11e6-99a8-920e3d29681b.png">

[2016-11-22 05:37] charliesbox commented on #19
Could you try the example app? I just ran it, and I can see all the values from the Chromecast object

[2016-11-22 11:40] codetony25 commented on #19
Just did it on your provided example and getting the same for android:

<img width="474" alt="screen shot 2016-11-22 at 3 31 50 am" src="https://cloud.githubusercontent.com/assets/10192761/20522275/453b936c-b064-11e6-964f-b994cef899a4.png">

This is working on iOS by the way, since only your index.ios.js is the one containing your example component., but displays this error for Android.

To reprod

[2016-11-23 02:53] codetony25 commented on #19
Okay finally! spent the whole day figuring this out. Here's how I resolved it:

first did `react-native android` to reset my android bindings, did a `npm install` then `react-native link` to link up my dependencies.

Then, in my `android/build.gradle` updated my version to be 2.2.1:

[code]

then in `/android/gradle/wrapper/gradle-wrapper.properties` I had the latest gradle version:

[code]

After

[2016-11-23 04:26] charliesbox commented on #19
good to know!

last issue is weird. i've never received that log before. if you could share an example of your project to take a look, i can get a better idea of what is happening.

thanks for posting your research!

[2016-11-24 22:07] jerson opened #20 "Audio Support"
what if i need to cast mp3 :(

[2016-11-25 04:01] charliesbox commented on #20
oh, i have the feeling that this is a good one. It shouldn't be hard to prepare the library to support it.

I can take look into this in one week or two.

Feel free to open  PR if you already have an implementation :)

[2016-11-30 16:48] peggyrayzis opened #21 "iOS error: GoogleCast/GoogleCast.h file not found"
Currently running React Native v0.38. We also noticed that this error was happening with 0.35.

After linking and rerunning the build for iOS in Xcode, we receive an error message that GoogleCast/GoogleCast.h file is not found. We have installed the google-cast-sdk Pod from Cocoapods & added it to our Podfile as described in the readme. We are running the build from the workspace created by Cocoap

[2016-12-09 20:19] #21 closed

[2016-12-09 21:21] charliesbox commented on #21
@peggyrayzis sorry for the delay, i had a lot of work to do lately :)

I just saw that you already closed the issue. That means that you found a solution for this problem?

Let me know, to help you if you need it.

- Charlie

[2016-12-09 21:27] peggyrayzis commented on #21
Hi Charlie! Thanks for following up. To fix the issue, we just copied & pasted your GoogleCast.h/m files into our project. I think it might have something to do with using Swift & not linking our frameworks properly. 🤔 I'm pretty new to native development though so not 100% sure.

[2016-12-09 21:30] charliesbox commented on #21
Mmm, this is weird, first I thought that the linking process didn't happen, but if after pasting the files worked, it looks like a different issue.

I'm curious about the use of swift. Are you integrating react native to an existing native project?

[2016-12-09 21:41] peggyrayzis commented on #21
Nope, this is a project that was started in React Native. We do use Swift for a couple native components that we bridge over to JS.

The only difference we could find between our project & your example is here:
https://github.com/charliesbox/react-native-google-cast/blob/master/example/ios/Podfile#L5-L6

We have that line uncommented because of our Swift code. We tried linking the GoogleCast frame

[2016-12-10 07:46] charliesbox commented on #21
I added a configuration in the library to search the cocoapods files. Will try the example uncommenting the line just to discard this option.

[2016-12-10 08:45] #19 closed

[2017-01-10 23:56] codetony25 commented on #14
Can we see some examples?

[2017-01-12 22:17] undef1ned commented on #21
Having exact the same issue
@peggyrayzis could you please point where should I put the h/m files to make it work? Thanks

[2017-01-12 22:23] charliesbox commented on #21
@undef1ned you can add it inside your current project. Xcode manages the files in a logic way, so the important thing is just to drag them inside it.

After that, they will become part of your current libraries.

First version of this library worked in that way. You can check the instructions for that approach here [link](https://github.com/charliesbox/react-native-google-cast/blob/e37675843e076df

[2017-01-13 12:55] swapkats commented on #19
@codetony25 Did you get to fix the `Cannot invoke Chromecast.startScan()` issue. I'm facing the same problem.

[2017-01-13 18:46] codetony25 commented on #19
Yes, I have figured this out. Although it wasn't obvious in the documentation. In your build.gradle located in `projectName/android/app/build.gradle`, You need to include the google play services for google cast in your dependencies:

[code]

You may also need to install the latest google play service sdk package as well in Android Studio SDK Manager if you are using those emulators.

[2017-01-14 07:44] codetony25 commented on #14
Any plans on resolving this issue? Does anyone happen to have a workaround for this currently?

[2017-01-17 14:28] swapkats commented on #19
@codetony25 thanks a lot, this fixed my problem. Not sure what went wrong for you.

[2017-01-17 18:49] codetony25 commented on #19
@swapkats were you able to detect other chromecast devices?

[2017-01-25 12:27] swapkats commented on #19
@codetony25 no, I don't have an actual chrome cast to detect to try this. Sorry.

[2017-02-12 15:54] Coolnesss opened #22 "Feature request: support Remote Display and Game Manager"
There's some really cool features in the Chromecast API, such as [remote display](https://developers.google.com/cast/docs/remote) and [game manager](https://developers.google.com/cast/docs/gaming). Would it be possible to support them on React Native?

[2017-02-13 14:03] asdrubalivan commented on #14
Same error here!

[2017-02-13 14:04] Rogergonzalez21 commented on #14
Is there any workaround to this?

[2017-02-21 06:24] kishanj918 opened #23 "Could not find com.google.android.gms:play-services-cast:9.8.0"
I am getting this error while running the project. please help.

[2017-02-26 20:25] samuelbriole opened #25 "How can I cast a specific app, with a specific appId ?"
I made a custom receiver app, and I would like to load it on my Audio Chromecast from my RN app.
How could I do that ?

[2017-02-26 22:48] charliesbox commented on #25
It's not supported right now.

I don't have enough time to work on that right now, but feel free to open a PR to add the functionality :) !

[2017-02-27 09:28] WilliamAlexander commented on #14
Yup, iOS works like a dream (the irony). Android says there are chromecasts, however does not list them. According to the debug it's there but status is null.
If I connect to (let's say youtube), go back to app and refresh the chromecast, I'm able to connect.
This package used the CastCompanionLibrary-android. When I have time I'll create a new project using that and see if that works...I'm guessi

[2017-02-27 14:40] samuelbriole commented on #25
Alright !
I'm going to investigate :)

[2017-03-01 15:06] Rogergonzalez21 commented on #25
+1 on this functionality!

[2017-03-02 11:06] RWOverdijk opened #26 "Queueing"
Queuing is a cool feature. https://developers.google.com/cast/docs/autoplay

Perhaps this is already possible but I can't find it.

[2017-03-16 14:56] llewan commented on #19
Hi @codetony25 I'm able to detect a list of Chromecast devices thanks to this PR #27

[2017-03-23 12:57] thewikus commented on #8
I still get this issue, it seems like it only happens on our CI server.

[2017-04-05 12:59] axten opened #28 "unable to run ios app"
"react": "15.4.2",
"react-native": "0.42.3",
"react-native-google-cast": "^1.2.0",

pod install run with success and installed 1 Package.

calling `run-ios` leads to following error message:

[code]

[2017-04-09 19:59] vindvaki commented on #28
Looks like it's been fixed on `master` but not released yet, see https://github.com/charliesbox/react-native-google-cast/commit/9415f37c7b06bb210d12fc3e9245b594ba007df5

[2017-04-09 20:03] axten commented on #28
ok thank you.
@charliesbox whats your plan to release a new version?

[2017-04-09 22:43] charliesbox commented on #28
@axten right now! Version 1.3.0 is out :)

[2017-04-09 22:43] #28 closed

[2017-04-09 23:38] charliesbox commented on #14
Hi!

Maybe I can shed some light about the way I'm using the example.

What I do, is to run the example from android studio. And when it does, it shows me the chromecast around me.

Reason I do it in this way is to open the emulators with google play services support (the ones that can be created from android studio). Otherwise, without that package is not possible to detect chromecast.

Thoughts?

[2017-04-10 00:22] charliesbox commented on #23
i added some mentions to extra dependencies into the readme. could you take a look ? I hope those are the ones you needed

[2017-04-10 00:22] #23 closed

[2017-04-10 00:24] charliesbox commented on #14
FYI, based on @codetony25 points, I've added a mention to some dependencies required by the castcompanionlibrary.

I hope that those fix the issues :)

(Also, a new version of this project was releases some hours ago!)

Please, reopen the issue if the problems persist.

[2017-04-10 07:05] axten commented on #28
cool, thanks!

[2017-05-08 15:25] kasperrt opened #30 "Custom messages"
Would love a feature of casting a custom message to a custom app, with a set namespace!

[2017-05-09 14:34] franrios opened #31 "New connections stop what was being played on chromecast."
I would like to know how to connect a new device different to the one that sent the media without stopping the broadcasting.

[2017-05-09 22:18] charliesbox commented on #25
Fixed by https://github.com/charliesbox/react-native-google-cast/pull/29 :)

[2017-05-09 22:18] #25 closed

[2017-05-10 07:23] samuelbriole commented on #25
@charliesbox Thank you ❤️

[2017-05-17 14:51] jonburger opened #32 "App terminates when trying to Chromecast.connectToDevice(id)"
Hi,

Just been trying to set this up and get it working, but I've taken your example class and whenever it get's to the point of connecting to device `Chromecast.connectToDevice(id)` the app just terminates with the following message:

```Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'GCKCastContext has not been created yet with +[setSharedInstanceWithOption

[2017-05-18 03:33] charliesbox commented on #32
hi, are you using master, or the last release?

[2017-05-19 10:43] jonburger commented on #32
Hi, I installed using the instructions in the readme.md, the package.json says:

[code]

[2017-05-19 12:34] charliesbox commented on #32
ok, will take a look

[2017-05-24 15:46] phuongit0301 opened #33 "App can't cast video from 2nd times."
**App.js:**

`'use strict';

import React, {
  Component
}                           from 'react';
import {
  Text,
  View,
  Dimensions,
  Navigator,
  StatusBar,
  AsyncStorage,
  BackAndroid,
  ActivityIndicator,
  InteractionManager,
  TouchableOpacity,
  Image,
}                           from 'react-native';

import Chromecast from 'react-native-google-cast';

class App extends Component {

[2017-05-26 12:28] madki opened #34 "Support for channels"
Hi,

It'd be great to have support for channels to send and receive custom messages to the receiver.
Here are the links to relevant documentation: [Android](https://developers.google.com/cast/docs/android_sender_advanced#add_a_custom_channel), [iOS](https://developers.google.com/cast/docs/ios_sender_advanced#add_a_custom_channel).

Any plans for supporting this?

[2017-05-26 20:48] charliesbox commented on #34
I don't have the time right now to add this feature. But feel free to open a PR to include this enhancement.

[2017-05-27 09:00] madki commented on #34
Cool. Looking into it. Will send a PR soon.

[2017-05-29 20:19] undef1ned commented on #14
Can not detect Chromecast device :( Lib version 0.3.0

**build.gradle**

[2017-05-29 20:26] charliesbox commented on #14
thanks @undef1ned , will take a further look.

could you try it with the master branch? there are some changes that I hadn't published yet

[2017-05-29 20:31] undef1ned commented on #14
@charliesbox

oh yes, it is from master branch already

one thing I found just now - reconnecting the wifi may help to recognise device. This means the app is running, I call Chromecast.startScan(), logs say there are 0 devices, then I simply keep the app idle (dont close it, dont reload, just simply not touching), then I disconnect the wifi connection and connect it back... finally see my Chromec

[2017-05-29 20:41] undef1ned commented on #14
@charliesbox

What about this? https://developers.google.com/cast/v2/ccl_migrate_sender

[2017-05-30 13:47] charliesbox commented on #14
@undef1ned interesting. Although, I'm using https://github.com/googlecast/CastCompanionLibrary-android as the wrapper for the chromecast library in android.

Will go deeper about this issue in the next couple of days. If you find the fix, or you are in a hurry, open a PR :)

[2017-05-30 13:50] charliesbox commented on #14
Wow

```Because the Cast SDK v3 design was influenced by Cast Companion Library, the migration from CCL to v3 involves mostly one-to-one mappings of classes and their methods.```

Time to move forward. I opened an issue to upgrade to cast v3 :)

[2017-05-30 13:53] charliesbox opened #35 "Upgrade Android Library to Cast v3"
This might mean that we could get rid of the companion library, as the last one influenced the new version of the cast sdk.

https://developers.google.com/cast/v2/ccl_migrate_sender

[2017-05-30 13:55] charliesbox commented on #33
it is really hard to read all the code pasted in one single place. Do you have a sample repo with it?

[2017-05-30 16:02] undef1ned opened #36 "Android app crash"
Im getting hundreds of such error reports in the Bugsnag console

Any idea what it can be? May-be some kind of Google Play Services version incompatibility? Any suggestions how to fix that?

[2017-05-31 01:16] charliesbox commented on #35
dsfsdsfs

[2017-06-10 02:28] masterwok opened #37 "Does this work in the emulator?"
Hey,

Are there any known issues getting this to run properly in the Android emulator?

The problem that I'm seeing is that "ChromeCast.DEVICE_AVAILABLE" event doesn't seem to be emitted, as my callback is never executed.

On the emulator I'm able to hit my router by IP, so I would think that it would find devices. However, I'm not able to see if it's the emulator because I don't own an Android de

[2017-06-23 06:55] DracoBlue commented on #32
I had the same issue with iOS and activly downgraded the sdk to v2 (like in https://github.com/charliesbox/react-native-google-cast/blob/master/example/ios/Podfile.lock but 2.10.x )

@charliesbox Maybe this is possible im Android, too?

[2017-06-25 00:19] charliesbot opened #39 "List of projects/companies using the library"
I would love to have a list in the README with projects using the library.

Please, add your project and/or company below to add them! 😃

[2017-06-25 00:23] charliesbox commented on #4
A year later, but working on them now @saverchenkov !

[2017-06-25 00:31] charliesbox commented on #32
@DracoBlue for sure, there's a line in the gradle file where the version was restricted :)

Looks like new version for iOS - Android was really a major change.

Thank you for finding this workaround.

[2017-06-28 20:54] carlojoerges opened #41 "Example doesn't list chromecasts"
Hi, I'm having problems getting the library to list available devices. When I run the example, it shows that chromecasts are around, but when I press the 'Show chromecasts' button nothing happens.

I've debugged the issues a fair a bit and it seems that the onCastDeviceDetected function is never called. It randomly seems to work once and then stops working indefinitely.

[2017-06-28 21:03] charliesbox commented on #41
iOS or Android? I'm working on a fix that I found on android

[2017-06-28 21:09] carlojoerges commented on #41
Ah sorry, yea this is on android

[2017-06-28 21:10] RyderMS commented on #41
I was having the same issue on Android as well. Could you share/link your fix @charliesbox

[2017-06-28 21:21] charliesbox commented on #41
Sure, it is on `upgrade-google-cast` branch. I already opened a PR, but I'm having some issues testing iOS on my local environment.

Could you help me verify is working right on both of them?

[2017-06-28 21:45] RyderMS commented on #41
I am setup to test Android, let me give it a whirl.

[2017-06-29 08:31] carlojoerges commented on #41
Unfortunately didn't seem to fix the issue for me. I built the example from the branch on android

[2017-06-29 13:15] charliesbox commented on #41
@carlojoerges still can't see any chromecast around? Could you give further details about your environment?

Testing on an emulator or a mobile device?

[2017-06-29 13:15] charliesbox commented on #41
thanks @RyderMS

[2017-06-29 13:18] charliesbox commented on #37
yup! looks like this is linked to an issue that happened lately. Working on that right now on this PR https://github.com/charliesbox/react-native-google-cast/pull/40

[2017-06-29 13:57] carlojoerges commented on #41
The last version I only tested on the Android Studio emulator, on Mac. Previous versions (which had the same issue with) I tested on both the emulator and a connected Android device (Nexus 5). In those previous tests, running it on the emulator and on the device did not make a difference.

To see wether there's something odd going on with the castcompanion library I also compiled the https://githu

[2017-06-29 16:18] masterwok commented on #37
Awesome, thanks!

[2017-06-29 16:18] #37 closed

[2017-06-29 17:35] charliesbox commented on #41
will take a further look then :)

[2017-06-29 20:32] carlojoerges commented on #41
thanks @charliesbox! let me know if you have anything to test. happy to help out

[2017-07-05 23:50] Diskiddin commented on #41
I am experiencing the same issue, however I have done some digging and found an interesting sequence of events that causes the chromecasts to list.

After leaving the App running for some time the chromecast route will randomly be removed triggering the onRouteRemoved and onCastDeviceDetected methods, consequently adding the route again but this time adding the device to the device list. After thi

[2017-07-05 23:56] charliesbox commented on #41
Thanks @Diskiddin ! Currently I'm working in refactoring the entire library, focused especially in android and the new chromecast sdk.

Will take a look to the logs, they are great to better debug this case :)

[2017-07-09 21:31] charliesbox commented on #41
Folks, could you try with this PR? I create a new example and did some changes to fix the bugs.

I test it both android and iOS. Need a second opinion about it.

If everything goes well, I will release a new version next week.

https://github.com/charliesbox/react-native-google-cast/pull/42

[2017-07-09 21:34] charliesbox commented on #32
I'm testing a new version here -> https://github.com/charliesbox/react-native-google-cast/pull/42

So far, so good, using Cast SDK 3.3

Could you help me testing it?

[2017-07-09 22:13] DracoBlue commented on #32
Yep! Will try the #42 tomorrow!

[2017-07-10 16:25] matiastucci opened #43 "Does it support custom receiver apps?"
Nice lib BTW :)

[2017-07-10 17:55] charliesbox commented on #43
It supports custom ids. Not sure if that solves your question.

Thanks! :)

[2017-07-10 18:43] matiastucci commented on #43
And sending session messages?

[2017-07-10 18:58] charliesbox commented on #43
nope so far.

[2017-07-10 19:04] matiastucci commented on #43
ok, thanks 👍

[2017-07-10 19:04] #43 closed

[2017-07-11 21:22] jaredgei commented on #41
Pulled your latest, and still having the same issue on android - the event happens, with devices_available: true, but getDevices() sends back an empty array.

[2017-07-11 21:24] charliesbox commented on #41
@jaredgei could you provide the following info?

- Real device or emulator?
- If real device, which one is?
- Android version

[2017-07-11 21:25] jaredgei commented on #41
Sure, am running on a Galaxy S7 on Android 7.0

[2017-07-11 21:26] charliesbox commented on #41
cool, will take a look

[2017-07-13 21:06] Diskiddin commented on #41
Is there a way to manually add a device to the device list in JavaScript? I can't get devices to list so it makes testing my implementation difficult, but if I could manually add the device that would help so much. I can see the device in android monitor and can see it's ID and name so I assume I could call some function or create some device object and work from there? I'm not sure.

Thanks!

[2017-07-21 21:19] ndao opened #44 "iOS app crash on connectToDevice"
app crashes when try to connectToDeivce

[code]
`iOS 8.3 simulator`

[code]

[2017-07-22 16:36] charliesbox commented on #44
could you try in a simulator using ios >= 9 ?

[2017-07-22 17:32] ndao commented on #44
tried with 10.3. same thing.

[2017-07-22 17:32] charliesbox commented on #44
k, checking.

[2017-07-24 17:18] Diskiddin commented on #44
In your Podfile.lock change the 3.5.0 to 3.3.0 in these three lines:
- google-cast-sdk (3.3.0):
    - google-cast-sdk/Core (= 3.3.0)
  - google-cast-sdk/Core (3.3.0)

and then run a pod install, that fixed the error for me.

[2017-07-24 17:31] charliesbox commented on #44
@Diskiddin oh wow, that's good to know. Thanks! Will test with 3.5 to figure out what is happening.

[2017-07-24 17:35] ndao commented on #44
@Diskiddin , that did it. thanks so much!

[2017-07-24 17:54] charliesbox commented on #44
@Diskiddin @ndao will close the issue then :)

[2017-07-24 17:54] #44 closed

[2017-07-24 18:35] ndao opened #45 "error scanning on Android"
this error when trying to Chromecast.startScan()
[code]

already add the compile lines to bundle.gradle
[code]

[code]

[2017-07-26 17:03] ndao commented on #45
fixed it. 2 issues:
1. had to upgrade to `compile 'com.google.android.gms:play-services-cast-framework:10.2.1'`
2. it cannot find chromecast on the emulator, had to deploy to the phone.

[2017-07-26 17:03] #45 closed

[2017-08-04 21:14] Diskiddin opened #46 "Locking phone causes Chromecast controls to break"
If you connect to a Chromecast, cast media, lock the phone, and then unlock the phone the pause/play/seek methods do not work even though the Chromecast is still connected.

[2017-08-10 17:04] drahosistvan commented on #32
I changed the pod definition to `pod 'google-cast-sdk', '3.3.0'` and it works very well!

[2017-08-18 18:53] chrisshiplet opened #47 "DASH/HLS support"
Are there plans to support the Google Cast library's adaptive streaming options like HLS or DASH? Looks like it's currently hardcoded to use video/mp4, and it causes a generic failure screen on the Chromecast device when I attempt to use an MPD or M3U8 playlist. If not, would you be open to a PR?

[2017-08-21 15:18] Simba14 commented on #41
@charliesbox Did you manage to crack this issue? 🙏

[2017-08-21 15:24] maximmcnair opened #48 "Does have support for Styled Media Receivers."
https://developers.google.com/cast/docs/styled_receiver

[2017-08-21 19:35] charliesbox commented on #48
@maximmcnair not yet, but PRs are welcome :) !

[2017-08-22 03:43] Diskiddin commented on #48
I believe it does because the app supports custom app id's correct? I use a custom receiver registered through the google cast development console and it works fine, and the styled media receiver is used the same way.

[2017-08-22 09:28] maximmcnair commented on #48
I does work by passing in our app id here: `Chromecast.startScan(APP_ID);`. But only when using the git repo, the package on npm is not up to date.

[2017-08-22 09:28] #48 closed

[2017-08-29 23:57] LeonidasEsteban commented on #21
I have the same issue :(

[2017-08-30 16:59] charliesbox commented on #21
@LeonidasEsteban could you try with this PR? https://github.com/charliesbox/react-native-google-cast/pull/42

[2017-09-06 19:39] deepmehtait opened #50 "Plugin with id 'com.android.library' not found when trying to open in android studio"
When trying to open this project in android studio getting gradle build error `Plugin with id 'com.android.library' not found` and not able to build the android side of the project.
Android Studio : 2.3.3.

[2017-09-06 20:51] chrisshiplet opened #51 "iOS build fails with: 'GoogleCast/GoogleCast.h' file not found"
Hello, I recently had this library start failing to build on iOS when included in my project. I have tried reinstalling, relinking, etc.

I have tried both `'google-cast-sdk', '2.10.4.1'` and `'google-cast-sdk'` in my podfile. I've tried manually adding the `$(SRCROOT)/../node_modules/react-native-google-cast/ios` path to the header search paths in Build Settings, and I even tried to manually add

[2017-09-07 07:30] undef1ned commented on #51
The only solution which worked for me was to manually replace all the sdk Headers/* (~20 files) from

`#import <GoogleCast/GCKApplicationMetadata.h>`

to

```#import "Pods/google-cast-sdk/GoogleCastSDK-2.10.4-Release/GoogleCast.framework/Headers/GCKApplicationMetadata.h"```

[2017-09-18 05:07] aditya27dev opened #52 "Chromecast.startScan(); is not working"
I am trying to scan chrome cast but it's not working...

``import Chromecast from 'react-native-google-cast';
Chromecast.startScan();``

When i run the app it doesnt scan and when i turn off mobile screen and turn on they check for devices then i am getting devices. And while doing turn off and turn on... it is firing onCastAvailabilityChange event. Why and How?

[2017-09-20 13:18] petewilkins commented on #47
Hi @chrisshiplet, have you had any luck with implementing HLS support? I'm able to cast m3u8 files even though it's currently hardcoded for video/mp4 but I do get some strange crashes every so often which I think may be to do with the HLS stream changing quality/resolution. What was the generic failure screen you were getting?

[2017-09-25 22:17] deepmehtait commented on #35
@charliesbox : Upgrade is not direct. Concepts of start scan and stop scan with the list of devices are not available in V3. Any idea how we can convert CCL to V3?

[2017-10-09 16:15] ramubhai commented on #48
Any guideline, when can we expect it to be updated on NPM?

[2017-10-13 03:15] developersoul commented on #14
It's funny, works when the wifi turn off and then on, it can be fixed by that way....

[2017-10-14 09:43] ramubhai opened #54 "Send custom messages to chromecast?"
How can we send a custom message, JSON messages in particular to chromecast device. Couldn't find anything on the Readme.

[2017-11-01 04:02] pudility commented on #41
@Simba14 @charliesbox It seems like this is still an issue. I ran the example and got the same issue. I have tested this on both a google pixel and google pixel emulator - both android 8. I tested with react native version 0.49.3 and react-native-google-cast version 1.3.0. Here is a gif of the issue if it helps at all:

![gif](https://media.giphy.com/media/l4EpayLgJoM7w3C9O/giphy.gif)

[2017-11-12 02:40] pudility commented on #51
Yup, this is a **Major** annoyance. Here is a script that I made to help me out:
[code]

[2017-11-16 21:05] developersoul commented on #21
Another solution is move the GoogleCast.framework headers into to Pods/Headers/Public/google-cast-sdk/GoogleCast

[2017-11-28 20:09] developersoul commented on #35
Now the chromecast button handle on sdk v3, so to make this migration it's necessary another approach for example instead of methods it's necessary an UI component to handle the state of the devices available and connect and disconnect...

[2017-12-26 14:22] Ptitpopcorn commented on #22
@charliesbox Any news about remote display support ?

[2018-01-05 23:22] seftonmonk commented on #35
Anybody go this library working with v3?

[2018-01-06 01:25] charliesbox commented on #35
@seftonmonk I'm gonna start working on that this weekend. I didn't have too much progress before cause most of my issues came from Android, and my testing using the emulator didn't give shed me lights about it.

However, I got a Pixel recently and having both devices will let me focus better on the new architecture.

[2018-01-06 01:27] seftonmonk commented on #35
That's great news! Thanks for the update. Looking forward to it, great work in the last version.

[2018-01-08 10:18] seftonmonk commented on #35
@charliesbox any success? sorry to bother ;)

[2018-01-18 12:23] nehacurefit commented on #35
Hi @charliesbox , Can u please provide update on cast v3 integration, I tried it but many of the handles are not there in v3 like connect to device, getting devices added, removed callback.

[2018-01-21 01:20] goinnovative opened #56 "Is it possible to use custom receivers with this plugin?"
Hey,

I want to stream a website to the Chromecast and I found a custom receiver which shows websites in an iframe.

https://github.com/DeMille/url-cast-receiver

Is it possible to use trigger a custom receiver with this plugin?

[2018-02-01 22:17] thesubway opened #57 "Error running on XCode evaluating undefined GoogleCast.DEVICE_AVAILABLE"
![img_1302](https://user-images.githubusercontent.com/5408549/35706098-5d186026-0759-11e8-830b-6b9a6ab07a84.PNG)
So far I have only tested on iOS.

In order to get here, I did:
Started new project
$ npm install react-native-google-cast --save
$ react-native link react-native-google-cast
I created a Podfile, and added:
pod 'google-cast-sdk', '2.10.4.1'
then did pod install and npm install.

Here is

[2018-02-13 11:35] vishaljadav24 commented on #47
Hello @chrisshiplet , I am also working on HLS streaming. Can I use this library for Cromecast HLS Streaming / m3u8 Streaming?

[2018-02-13 17:15] chrisshiplet commented on #47
Sorry for not following up on this issue, I must've missed the notifications. The HLS problem was a serverside issue in my case, but I did end up finding the google cast sdk v2 this library uses to be extremely unreliable in general with device discovery and streaming. I ended up integrating the cast sdk v4 directly in my app. Hopefully once I understand React Native a bit more I can publish it as

[2018-02-13 17:15] #47 closed

[2018-02-23 06:34] joshyg commented on #52
I am seeing the exact same behavior ( though only on android, ios seems to work ok ).  @MrPeproni Did you ever get to the bottom of this?  Is there a workaround?

[2018-03-03 13:27] rangav opened #58 "How to cast Live stream to Chromecast"
Hi,

Thanks for the great library, How to cast live streams to Chromecast, i am getting CORS error when i try to cast youtube channel live stream

Thanks

[2018-03-08 12:45] Raghavendra7 commented on #57
I am facing the same issue.

[2018-03-10 20:50] mtkopone commented on #21
Here's how to fix it:

In the xcode project navigator, open Libraries/GoogleCase.xcodeproj
Choose the GoogleCast target, and Build Settings
Add the following to "Framework Search Paths": $(PROJECT_DIR)/../../../ios/Pods/google-cast-sdk/GoogleCastSDK-2.10.4-Release

[2018-03-10 20:50] mtkopone commented on #51
Here's how to fix that:

In the xcode project navigator, open Libraries/GoogleCase.xcodeproj
Choose the GoogleCast target, and Build Settings
Add the following to "Framework Search Paths": $(PROJECT_DIR)/../../../ios/Pods/google-cast-sdk/GoogleCastSDK-2.10.4-Release

[2018-03-10 20:52] mtkopone commented on #57
Try opening the project in xcode, i'm guessing that compiling in xcode will fail with:
https://github.com/charliesbox/react-native-google-cast/issues/51
https://github.com/charliesbox/react-native-google-cast/issues/21

If so, solve like this: https://github.com/charliesbox/react-native-google-cast/issues/21#issuecomment-372065414

[2018-03-20 09:33] h8art commented on #31
Still no info on this problem?

[2018-03-21 20:52] cobarx commented on #52
I saw this behavior as well and discovered that the scan works on the Nexus 6P but not a Galaxy S8. I'm not sure what's different in the lower level code that is causing it to misbehave.

[2018-03-21 20:54] cobarx commented on #35
@charliesbox By any chance do you know if it's possible to detect devices with the v3 SDK? Our team is currently working on this and I'm not sure if equivalent functionality to the CCL even exists. I'm going to try the way they write it up on the Google Cast site for a first pass.

[2018-03-27 00:39] petrbela commented on #35
We've rewritten the library with v3, check out https://github.com/flextv/react-native-google-cast. We've been using it in production for two months now.

[2018-03-28 20:16] cobarx commented on #35
@petrbela We ran into a lot of issues with v2 where on Android it worked with certain devices but not others. Given that Google has abandoned the CCL, the only option was to move to v3. I had started working on it, but it's very exciting to see that you've already figured it out and gotten it working. There were a number of questions I had that you resolved like how to create a compatible ReactNat

[2018-04-09 04:28] Aashir1 commented on #12
How to resolve this issue occurs after adding plugin react-native-camera.

[2018-04-15 18:27] jimmywarting commented on #34
status?

[2018-04-17 19:25] chaocharleswang opened #59 "How can I control the volume?"
How can I control the volume? Thanks.

[2018-04-26 16:17] petrbela commented on #34
@jimmywarting @madki I've implemented support for custom channels in https://github.com/flextv/react-native-google-cast. Note that it's based on Cast SDK v3, and that the API will very likely change before the final release but if you're eager to try it, I'd welcome any feedback.

[2018-05-19 09:03] secretyouth commented on #56
+1

Interested, casting views is extremely useful for me. Something I want to know more about. Can anyone chime in?

[2018-05-28 09:16] AndreaMaggi commented on #51
Try to close the `.xcodeproj` and open the `.xcworkspace` in `Xcode` and build from there...it did work here \m/

[2018-06-06 10:51] deepakblucursor commented on #12
Same issue

[2018-06-27 22:57] aecorredor opened #60 "Can't build on Android SDK 26"
Getting this error when trying to run app on Android:

[code]

App works fine on iOS.

I have this versions in my build.gradle:
[code]

[2018-06-28 15:34] aecorredor commented on #60
Was able to build by removing the @Override on the java package file.

[2018-06-28 15:45] #60 closed

[2018-07-09 15:03] fbn4sc opened #61 "Not detecting any devices"
I have the following on a component:
[code]
But all I get is an empty array, even though other apps on the same device are able to find my Chromecast.

At first I was getting this error:

[code]
And, following a suggestion on a different issue, I commented out the offending method I was able to build the app.

Maybe this caused the problem?

How can I get the component to list the available device

[2018-07-31 15:05] aecorredor opened #62 "App crashes on reload when developing ([GCKDeviceScanner stopScan] must be called on main thread)"
Ever since I added this package my app crashes when I am developing (and testing on simulator) when I try to reload to see new changes.

This is the error I get:
*** Assertion failure in -[GCKDeviceScanner stopScan], /Volumes/BuildData/pulse-data/agents/601160/recipes/947848375/base/google3/googlemac/iPhone/Chromecast/SDK/Framework/Classes/GCKDeviceScanner.m:466
*** Terminating app due to uncaught

[2018-08-15 05:34] jonnyn opened #63 "How to integrate this library without using Cocoapods?"
I'm trying to integrate this library but not using Cocoapods, but not working so far

Things I tried:
npm install react-native-google-cast --save
react-native link react-native-google-cast

then following this to download SDK, and added the framework to xcode manually
https://developers.google.com/cast/docs/ios_sender_setup

but couldn't make xcode to build
got error: 'GoogleCast/GoogleCast.h' fil

[2018-08-30 23:41] fabiancarlos commented on #61
remove @Override , or fork this project, remove the @Override, and install by your package from github.

[2018-08-31 00:14] fabiancarlos commented on #36
looking for that too

[2018-10-04 22:45] tnaughts commented on #63
Check out this issue [Header not found](https://github.com/react-native-google-cast/react-native-google-cast/issues/51)

[2018-10-11 05:29] TheSavior commented on #62
@aecorredor did you ever solve your issue? I'm looking at this PR to react-native-udp which is essentially trying to solve the same problem: https://github.com/tradle/react-native-udp/pull/16

[2018-10-23 13:56] danielgssp opened #64 "I can't start exemple application and use dependencies"
After run  npm install react-native-google-cast --save and react-native link react-native-google-cast , when I run react-native run-android that happens.

 a:29: error: method does not override or implement a method from a supertype
    @Override
    ^
![print](https://user-images.githubusercontent.com/33849694/47365441-f1dabd80-d6b1-11e8-84e7-5d72d6416bfc.PNG)

why ???

[2018-10-23 19:03] danielgssp opened #65 "it's possible send text to custom receiver?"
I can send text to an application custom receiver ? using the library?

[2018-10-23 23:56] #64 closed

[2018-11-01 16:32] jonnynfb opened #66 "Is there a way to get player progress updated"
I try to find the way to get Chromecast player progress update.

on iOS, I notice that when I'm using GoogleCast.EventEmitter.addListener(GoogleCast.MEDIA_STATUS_UPDATED, this.callback);
and opening the expanded media controller. After pause/play or scrub progress bar the MEDIA_STATUS_UPDATED callback will be triggered every 10 seconds automatically. Bug or not but it's good.
However i don't know

[2018-11-13 23:50] #66 closed

[2018-12-16 23:39] devlato opened #68 "Is this library still supported?"
Hello!

I've noticed the last commit in the master branch was more than a year ago, and the npm package hasn't been updated for almost two years as well. Is this library still supported?

[2019-01-03 22:23] msebgf commented on #61
I have the same issue, no devices are being detected

[2019-01-07 12:17] Angelk90 opened #69 "Some problems"
Hi @vmseba , @DracoBlue , @petrbela :
![image](https://user-images.githubusercontent.com/20476002/50767699-180a0580-127e-11e9-8a11-d30d31ab46f1.png)

I installed the module but I'm facing some problems, as you can see from the image above.

How can I solve the problem?

[code]

P.Š.
In the new version according to the new specifications you should replace compile with implementation.

[2019-01-11 11:18] petrbela commented on #61
Please upgrade to the latest version, it handles connection automatically.

[2019-01-11 11:18] #61 closed

[2019-01-11 11:19] petrbela commented on #68
Hi, yes, just getting back to it after handover!

[2019-01-11 11:19] #68 closed

[2019-01-11 11:20] petrbela commented on #65
Yes, this is supported in the latest version using `GoogleCast.sendMessage`.

[2019-01-11 11:20] #65 closed

[2019-01-11 11:21] petrbela commented on #54
Hi, this is supported in the latest version using `GoogleCast.sendMessage`.

[2019-01-11 11:21] #54 closed

[2019-01-11 11:23] petrbela commented on #52
Hi! We're deprecating the manual scan in favor of the automatic device discovery available in the latest version of the SDK. Please upgrade this package to the latest version (>= v3). I'd also accept a pull request if you want to fix v1 yourself.

[2019-01-11 11:23] #52 closed

[2019-01-11 11:24] petrbela commented on #35
This has now been published as v3.

[2019-01-11 11:24] #35 closed

[2019-01-11 11:38] petrbela commented on #56
Yes, please see the latest version.

[2019-01-11 11:38] #56 closed

[2019-01-11 11:42] petrbela commented on #58
Hi! Is this still a problem? You should be able to just use the HLS link and set the media like this:

[code]

As this is ultimately not a problem with this library, I'm closing this issue.

[2019-01-11 11:44] petrbela commented on #34
This is now supported in the latest version.

[2019-01-11 11:44] #34 closed

[2019-01-11 12:08] petrbela commented on #41
Please upgrade to the latest version, it handles discovery automatically.

[2019-01-11 12:08] #41 closed

[2019-01-11 12:09] petrbela commented on #32
Please upgrade to the latest version, it handles connection automatically.

[2019-01-11 12:09] #32 closed

[2019-01-11 12:10] petrbela commented on #14
Please upgrade to the latest version, it handles discovery automatically.

[2019-01-11 12:10] #14 closed

[2019-01-11 12:10] petrbela commented on #62
Please upgrade to the latest version, it handles discovery automatically.

[2019-01-11 12:10] #62 closed

[2019-01-11 12:11] petrbela commented on #31
This should be no longer happening in the latest version.

[2019-01-11 12:11] #31 closed

[2019-01-11 12:12] petrbela commented on #69
Please upgrade to the latest version, it should fix this.

[2019-01-11 12:12] #69 closed

[2019-01-11 12:13] petrbela commented on #33
Please upgrade to the latest version.

[2019-01-11 12:13] #33 closed

[2019-01-11 12:14] petrbela commented on #57
Please upgrade to the latest version.

[2019-01-11 12:14] #57 closed

[2019-01-11 12:15] petrbela commented on #36
Please upgrade to the latest version and check if it's still happening.

[2019-01-11 12:15] #36 closed

[2019-01-11 12:16] petrbela commented on #16
I don't think this is relevant anymore in the latest version.

[2019-01-11 12:16] #16 closed

[2019-01-11 12:17] petrbela commented on #26
Queuing will be in added in v4.

[2019-01-11 12:19] petrbela commented on #51
Please check if it's still a problem in the latest version.

[2019-01-11 12:19] #51 closed

[2019-01-11 12:47] rangav commented on #58
Hi @petrbela

Have you testing the above solution for live stream?

[2019-01-11 13:14] petrbela commented on #58
We're using live stream from vimeo. YouTube should work, too; I highly doubt they wouldn't have CORS enabled.

If you're getting an error, it's probably an issue with your custom receiver. Can you post details?

[2019-01-11 14:18] rangav commented on #58
I am currently using Styled Media Receiver. I haven't used Custom Receiver.

Do you have sample customer receiver application code that i can use for testing live stream?

[2019-01-11 15:41] rangav commented on #58
Thanks @petrbela, Will try the Custom Receiver.

[2019-01-14 15:13] lukebaker opened #72 "Media Progress Listener"
@petrbela, it looks like the media progress listener was not migrated from the flextv repo in the most recent changes. Any chance of getting that ported to this repo? https://github.com/flextv/react-native-google-cast/pull/34

[2019-01-14 15:16] petrbela commented on #72
Seriously I had ONE job 🤦🏻‍♂️

Thanks for pointing it out, I'm adding it back.

[2019-01-14 19:08] petrbela commented on #59
Awesome, I'll add it to the docs.

I'll still leave this issue open for programmatic control of volume.

[2019-01-15 13:31] petrbela commented on #72
Added in 3.0.4 via https://github.com/react-native-google-cast/react-native-google-cast/commit/90a35d11ef4a3c8f1acaa00199fb9f5381ee0c01

[2019-01-15 13:31] #72 closed

[2019-01-16 09:54] MarianBe opened #75 "tintcolor doesn't work? button is always blue"
setting the tint color doesn't do anything for me, the button is always in this blue color? How can i change that?

[2019-01-18 20:43] petrbela commented on #75
I'm assuming this is on iOS? It's a known issue that the tint color is not always applied and instead defaults to blue. I'll look into why it's happening.

[2019-01-18 20:45] padampadam commented on #75
Yeah sorry forgot top include that, its on iOS yes

[2019-01-20 20:43] jedashford commented on #75
Has anyone tried to fork and set the default style to white? Wonder if this is on the react side or the native side? We're also having this issue. Maybe just set the default to white anyway (is white on youtube, google play movies, netflix, etc)

[2019-01-20 20:52] padampadam commented on #75
@jedashford i manually Changes it with No success

[2019-01-22 16:15] jedashford commented on #75
Ok I understand more about how this works and how RCT_EXPORT_VIEW_PROPERTY is used. Are you able to reliably recreate it? If so, what steps?

Mine seems to be random, but haven't played with it enough. The code seems solid, so it may be something like the cast library re-initializing itself and not applying the tintColor property from the bridge.

[2019-01-24 05:45] Viswa-Vinod opened #76 "app opens and closes immediately"
In my project (not the example project from this repo), I have installed the latest version of react-native-google-cast 3.0.4
My react-native version 0.57.1
Everything builds successfully and even installs successfully but the app does not launch on my Android 8 physical device. Even tapping the app icon on the device screen does not launch the app. There are no errors in the metro bundler termina

[2019-01-24 11:12] padampadam commented on #75
actually i am not able to reliably recreate this, it seems very random to me?
@jedashford the library reinitializing sounds about right to me, i will try to find a way to recreate this so we can pin it to something specific

[2019-01-24 11:24] MarianBe opened #77 "Expanded Media Controller on Android missing Cast Button"
On iOS the Expanded Media Controller has a cast button which lets you cancel the casting
![image](https://user-images.githubusercontent.com/773986/51675016-bca47b00-1fd2-11e9-978d-72dd156505e9.png)
on android the button is missing.
I found some code commented out in [GoogleCastExpandedControlsActivity.java](https://github.com/react-native-google-cast/react-native-google-cast/blob/master/android/sr

[2019-01-24 12:16] padampadam commented on #76
i dont think the issue is related to the library actually, looks more like your mainactivity is crashing?

[2019-01-24 12:23] petrbela commented on #77
Hi! Unfortunately, I haven't had much time to explore the expanded media controller yet. If anyone else has a fix I'd be glad to accept it.

[2019-01-24 13:02] MarianBe commented on #77
@petrbela i think i found a solution, creating a PR asap. let me know if this works for you.

[2019-01-24 13:05] MarianBe commented on #77
#78

[2019-01-24 13:31] #77 closed

[2019-01-25 08:12] nbennink opened #79 "[iOS 12] no devices found with SDK 3"
With the current version (3.0.5) I have an issue where I don't see the Chromecast button on iOS (12). I can see the button on other apps like Youtube or Twitch but not in my app.

In the readme there is a note about a work in progress version for V4 but that branch doesn't exist. Is this still in the works? It's a little bit better when I update to `google-cast-sdk 4.1` (pod). With that version I

[2019-01-25 21:03] petrbela commented on #79
V4 is in the works, however, it's a bit more massive undertaking than I'd originally thought. I'll see if I can get out a preview sometime during next week.

You should still be able to use the current library with `google-cast-sdk '4.3.0'` (there's a [duplicate symbol issue](https://issuetracker.google.com/issues/113069508) in the most recent versions); I don't think there are any breaking change

[2019-01-26 16:50] owenjeon opened #80 "How can i catch 'GoogleCast.castMedia' function error?"
When media request is fail, i can't catch error.

my suggestion.

1. add event listener
[code]

2. `GoogleCast.castMedia` function return Promise error to catch it.
[code]

[2019-01-26 19:02] petrbela commented on #80
Hi! This (using a promise) will be added in v4, probably available sometime next week.

[2019-01-27 16:58] Viswa-Vinod commented on #76
Thanks for your responses.

[2019-01-27 21:48] robertherber opened #81 "Control playback of other content"
Is there any possibility to use this to connect to already playing media - and control playback and get metadata about it? If not - is it on the roadmap?

[2019-01-27 22:13] petrbela commented on #81
Hi! This is possible and on the roadmap, and should be available from the early v4 (next week hopefully?).

[2019-01-27 22:15] robertherber commented on #81
That's great news, thanks!

[2019-01-28 11:58] nbennink commented on #79
The problem was apparently quite easy to fix. You have to enable "Access WiFi Information" in your project to scan over the network. This is added in xcode 10 when targeting iOS 12. I have added a small note to the docs because it's disabled by default (#82)

SDK 4.3 works fine with the master branch so I keep using that now. `initWithReceiverApplicationID` is deprecated as well. So I think you sh

[2019-01-29 02:04] ansonyao commented on #51
It is still a problem.
Here is the versions of packages. The error is the same.

 "react-native":
      "version": "0.57.0",

- google-cast-sdk (3.5.6):
    - google-cast-sdk/Core (= 3.5.6)
  - google-cast-sdk/Core (3.5.6)

    "react-native-google-cast": {
      "version": "3.0.5",
      "resolved": "https://registry.npmjs.org/react-native-google-cast/-/react-native-google-cast-3.0.5.tgz",

[2019-01-29 02:06] ansonyao commented on #51
Tried to add this to the frame search path

$(PROJECT_DIR)/../../../ios/Pods/google-cast-sdk/GoogleCastSDK-Public-3.5.6-Release

But had no luck

[2019-01-29 10:15] petrbela commented on #51
@ansonyao Are you sure you've opened `.xcworkspace`? Can you post your directory structure here?

[2019-01-29 17:38] ansonyao commented on #51
Yes. I am sure about it. I am also integrating with another 10 libraries...

[2019-01-29 17:59] danielgssp opened #83 "initChannel() and SendMessage they are not in the project"
Hi, I have a problem with methods GoogleCast.initChannel()  and GoogleCast.sendMessage()

Undefined is not a function (evaluating 'GoogleCast.sendMessage(message, namespace )')
sendMessage
D:\Workspace\ChromecastReactNative\node-modules\react-native-google-cast\index.js: 83:34

I opened Google Cast Module and I did not really find the methods responsible for initializing the channel and sending me

[2019-01-29 18:08] petrbela commented on #83
Hi! I'm assuming this is on Android? I just recently noticed these methods weren't added to the Android project. You're welcome to open a pull request or wait for v4 which should be coming out in a week or so.

[2019-01-29 18:08] ansonyao commented on #51
Hey, @petrbela. I got it compiling by adding: $(SRCROOT)/../../../ios/Pods/google-cast-sdk to the framework search paths and header search paths.

[2019-01-29 18:18] danielgssp commented on #83
Ok, I would love to collaborate ><

[2019-01-31 10:06] #83 closed

[2019-02-04 08:14] gazedash opened #86 "No media selected"
I'm running the example app, but when I click on the video nothing happens, although Google Cast is connected successfully and if I click on cast icon, it says "No media selected".

It happens on both platforms, and I stream content from network (url), as in example.
Although I can successfully cast content from other apps that support google cast.
What is the possible problem?

[2019-02-04 14:21] danielgssp opened #87 "How to use getSharedInstance()"
I have a problem with extends GoogleCastActivity,
my app alredy extends react-native-navigation, I followed the exemple using CastContext.getSharedInstance(this) in onCreate() but dons't work ..

I had that to create onCreate() because usually there is not (ReactNative).

I would like  an example  how use getSharedInsance();

[2019-02-06 12:21] danielgssp commented on #87
hi, sorry for I ask around here but Could you look at my pull requests ? ty..

[2019-02-07 10:00] ronit-kadwane opened #88 "GoogleCast.initChannel is not a function"
Hello,
I want to receive messages from receiver application for that I need to initialize channel, but While I am initializing channel using GoogleCast.initChannel() API, it is showing error message GoogleCast.initChannel is not a function.
How can I init the channel and get a message from the receiver app?

[2019-02-07 10:50] #87 closed

[2019-02-07 11:10] petrbela commented on #88
Hi! This method isn't implemented yet in Android but it's being worked on and will be added in a bit. On iOS, this should already be working.

[2019-02-07 11:11] petrbela commented on #86
Not sure why that might be happening. I'm preparing a new set of examples as part of v4 so hopefully, they will help resolve it!

[2019-02-07 11:20] ronit-kadwane commented on #88
ok.
Thank you @petrbela

[2019-02-07 12:15] ronit-kadwane commented on #88
Hello @petrbela ,
I have implemented missing two methods for android `GoogleCast.intChannel()` and `GoogleCast.sendMessage()`.

Please check and review the [pull request.](https://github.com/react-native-google-cast/react-native-google-cast/pull/90)

[2019-02-08 06:11] ronit-kadwane commented on #88
As I have implemented [missing methods](https://github.com/react-native-google-cast/react-native-google-cast/pull/90) so closing the issue.

[2019-02-08 06:11] #88 closed

[2019-02-08 20:46] gazedash commented on #86
It seemed to be a problem with Chromecast apparently, now it works after restarting it completely

[2019-02-08 20:52] petrbela commented on #86
Okay glad it got figured out. v4 will have much better logging for catching and understanding such errors.

[2019-02-08 20:52] #86 closed

[2019-02-11 06:33] TheSavior opened #92 "Connecting to different device"
I have multiple chromecast devices on my network and I'd like to be able to select and bring up the controls for a specific device. I don't see anything in the public API for getting a list of devices or picking which one to connect to. Is this currently supported?

[2019-02-11 09:39] petrbela commented on #92
When you press the Cast button, the library presents a dialog that allows you to select which device to cast to. (Previously, in SDK v2, this had to be handled manually.) I'm not sure off the top of my head if the SDK also enables you to connect to a specific device programmatically; if it does, we might add support to the RN wrapper in the future in v4. Is having a programmatic access a priority

[2019-02-11 16:18] TheSavior commented on #92
Ah, got it. I can give the cast button a try. I’m not using this to actually cast content, I’m purely building an app that acts as a remote for my chromecast so I want to be able to connect to and pause / change volume of the currently playing media. Essentially what you get when you open the Google Home app in the devices tab.

The cast button might let me do this so I’ll check it out.

[2019-02-13 15:52] gazedash opened #93 "Can't stream hls content"
Reproducible on both platforms.

react-native-google-cast version: 3.0.5

I send

```"contentType": "application/x-mpegURL",``` among other keys, but it doesn't work.

Other types of content works, e.g. DASH, mp3 etc

[2019-02-14 10:58] petrbela commented on #93
Hi @gazedash, that's weird, we have no problem with HLS. Just to be sure, are you using a custom receiver?

[2019-02-14 11:01] gazedash commented on #93
@petrbela No, I am not using custom receiver. Could you send me example HLS m3u8 file so I test it and see if it works?

[2019-02-14 11:19] petrbela commented on #93
Hmm, so it does look like it works with the default receiver, too. Here's a sample stream https://mnmedias.api.telequebec.tv/m3u8/29880.m3u8

[2019-02-14 11:56] petrbela commented on #58
Hi @rangav, just an update, it looks like you shouldn't need a custom receiver for HLS. I'm investigating why it's not working.

[2019-02-14 12:19] rangav commented on #58
Thanks @petrbela. I didn’t get a chance to test with customer receiver. But if it works without custom receiver that would be great 👍.

[2019-02-15 10:17] gazedash commented on #75
How to style the button? What if I need to style the button for different states (e.g. connected, available etc)?

[2019-02-15 10:22] petrbela commented on #75
@gazedash The framework displays the different states automatically. The native SDK allows custom icons but that is not supported by this library yet. Only the tint for now.

[2019-02-15 11:12] petrbela commented on #75
On iOS, the support is spotty or sometimes doesn't work at all (that's what this issue is about). Haven't figured out yet what the proper solution should be.

Changing the icon itself is very unlikely to happen until v4 due to priorities, although technically there's nothing stopping it from working in the current version so you're free to implement it yourself and add a PR.

[2019-02-20 18:02] TriPSs opened #94 "Customise the expanded controls"
Is it possible to change the color of the title and subtitle of the expanded controls?

[2019-02-21 01:34] petrbela commented on #94
Hi. This is not supported right but may be added in the future.

[2019-02-27 16:53] TriPSs commented on #94
Solved this by adding this to my app's theme:
[code]

[code]

My arrays.xml:
[code]

Maybe this should also be documented somewhere here?

[2019-03-02 09:04] rangav opened #95 "React Native For Roku Cast"
Thanks for creating react native library for Chromecast.

I know this is not relevant here, but interested to know if you any created or used react native for Roku to achieve similar functionality as this library.

I am looking for react native library for Roku, but could not find one.

[2019-03-02 16:10] petrbela commented on #95
Hi!

The only option I know of is the [You.i Engine](https://www.youi.tv/youi-engine/react-native/), however, their licensing is quite pricey (we were quoted $50k per platform).

I did some research myself into whether it would be feasible to build a bridge; my conclusion is it would be quite a complex endeavor:

1. Since Roku doesn't provide JavaScript runtime out of the box, you'd need to be abl

[2019-03-02 16:10] #95 closed

[2019-03-03 05:32] rangav commented on #58
Hi @petrbela any update on this?

[2019-03-11 16:34] petrbela commented on #79
Updated instructions in readme.

[2019-03-11 16:34] #79 closed

[2019-03-11 17:01] petrbela commented on #63
Added instructions to readme

[2019-03-11 17:01] #63 closed

[2019-03-12 09:53] LaiBai opened #98 "error: package com.reactlibrary does not exist"
I had just update to 3.1.0 as I wanted to try the message channel feature of Android (it should be newly added to this version). However, I faced two problems when I try to follow the new installation steps:

1. I think step 1 of Android installation steps should be MainApplication.java but not MainActivity.java, so I just do the sub-steps in MainApplication.java

2. I got the following error when

[2019-03-12 17:34] danielgssp commented on #98
bud, use import com.reactnative.googlecast.GoogleCastPackage;
and put new GoogleCastPackage() on getPackages()

[2019-03-13 03:53] chloeching-amino commented on #98
@danielgssp I tried to use them. Then, the app can be built, and media can be casted, but still cannot connect the message channel of Android sender to the receiver (GoogleCast.CHANNEL_CONNECTED event didn't be triggered).

I had used the same code in iOS, and all things worked perfectly. The channel can be connected, message can be send to the receiver from iOS, and vice versa.

[2019-03-13 11:53] danielgssp commented on #98
So this happens because `initChannel()` does not exist yet on android !
the last PR was been accepted that contains this functionality for Android, Please wait a while before updating.

[2019-03-13 17:41] petrbela commented on #98
Ah looks like I resolved the merge conflict incorrectly. Sorry about that. Publishing a new version in a bit.

[2019-03-13 19:12] danielgssp commented on #98
Ow. I tryed use `sendMessage()` and nothings happens, he is not triggered when invoked !

[2019-03-13 23:52] petrbela commented on #98
Should be fixed in 3.1.1

[2019-03-13 23:52] #98 closed

[2019-03-14 12:58] danielgssp opened #100 "mCastSession null"
I tryed use methods `initChannel()`, `sendMessage()` and `getCastDevice` but
I didn't got succeed because my `mCastSession `is always null, why ?

Apparently when `onApplicationConnected()`  is called  he set value to `CastSession` but `CastSession `is lost whenever I update my application because the constructor of the `GoogleCastModule()` is called and create a new instance of `mCastSession` bec

[2019-03-14 13:46] danielgssp commented on #100
When call `setCastSession() `he set `mCastSession` with a value...
but on `initChannel()` or other methods `mCastSession `is null =)

[2019-03-16 19:08] petrbela commented on #100
Hmm this sounds legit, I'll look into it...

[2019-03-17 20:36] andy-io opened #101 "Cast button touch event handler"
Hi,

I want to trigger the cast button dialog when user tries to cast a video to tv without connecting to the device earlier. How can this be achieved?

[2019-03-19 19:34] hitaloramon opened #102 "Captions Support"
Is it possible to send captions in vtt or srt?

Doc: https://developers.google.com/cast/docs/android_sender/media_tracks

[2019-03-19 19:36] petrbela commented on #102
Hi! This will be available in [v4](https://github.com/react-native-google-cast/react-native-google-cast/tree/v4). You can try it out now but it's still very unstable.

[2019-03-19 19:43] petrbela commented on #101
Hmm that's a good question. I'm pretty sure this is not supported by the library at the moment, and quite unsure how to do it in the native code (don't have time to investigate now). If you find a solution, can you please post it here? PRs are also welcome.

[2019-03-25 19:50] rangav opened #103 "How to get List of Chromecast devices without CastButton"
How to get List of Chromecast devices in Android without CastButton, as i am developing custom UI functionality.

on iOS i can get it using GCKDiscoveryManager

[2019-03-25 20:00] petrbela commented on #103
Hi! This is not available in the current version of this library. I'm not sure Android even supports manual discovery anymore. You'll probably find a better answer at Android / Google Cast forums. If you manage to find a solution, please post back here.

[2019-03-26 13:58] rangav commented on #103
Looks like we need to use MediaRouter and OnRouteAdded event. see [#stackoverflow](https://stackoverflow.com/questions/40040689/chromecast-how-to-select-a-castdevice-without-a-castbutton)

[2019-03-26 14:22] petrbela commented on #103
Yes, that's how you used to do it in v2. I'm not sure if it works anymore, or if it's officially supported. As mentioned in the SO comment, you should follow Google's design guidelines and the say to use the native button. However, they're guidelines, not strict requirements, so do whatever you want, but you've been warned ;)

[2019-03-26 14:22] #103 closed

[2019-03-29 14:22] igor-nm opened #104 "[iOS] It don't is working."
Hello there!!

I followed the all steps from documentation but it don't working on iOS.
On android it worked normally.

Kind of steps: `CocoaPods`
Google sdk version: `~> 3`

I tried to use the sdk `~> 4.3` but a error happened, after that I followed al steps correctly.
I would like remember that `npm install` and `pod install` builded without errors.

Podfile:
[code]
AppDelegate.m :
[code]
And i

[2019-03-29 14:36] petrbela commented on #104
Hi Igor,

The code seems okay. The warnings you get on screen are not errors. The first two are from

[code]

because no device is connected yet. The third warning about main queue setup is a future deprecation warning (which will be fixed in a later version) but doesn't affect the current functionality in any way.

The way casting works: you first need to render the CastButton and only continue a

[2019-03-29 15:31] igor-nm commented on #104
Ok dude, I enabled the Access WiFi Information how link showed me.
The problem about CastButton still don't render, like the button really don't appear.
Do I need to do anything for appear CastButton to connect ?

Apologize by my confusion :/

[2019-03-29 16:27] petrbela commented on #104
Do you use a custom app id (from https://cast.google.com/publish/)? If yes, is it published? If no, is your Chromecast device listed as a development device? Make sure you restart it afterward.

Does the Xcode debug console show any error?

[2019-03-29 18:56] igor-nm commented on #104
Do you use a custom app id (from https://cast.google.com/publish/)? Yes, it is.
If yes, is it published? Yes, it is.
If no, is your Chromecast device listed as a development device? Yes, it is.
Make sure you restart it afterward.

Does the Xcode debug console show any error? No, none errors.

I don't get what is happening. No makes sense CastButton don't appear :/

[2019-03-29 23:23] andy-io opened #105 "amazon fire tv fling sdk integration"
https://developer.amazon.com/docs/fling/integrating-amazon-fling-with-cast.html

i see that it is possible to integrate amazon fling sdk in the same way as google cast. Could you please add support for it as well ?

[2019-03-30 01:32] petrbela commented on #105
Hi! That's a really interesting question. Despite what the article you linked might suggest, fundamentally, Fling and Cast are two independent frameworks with very different code bases, so the most straightforward thing to do would be to create a separate RN library.

[2019-03-30 04:46] rangav commented on #101
See the project for reference click handler implemented
https://github.com/mtkopone/react-native-googlecast-v3

[2019-04-01 20:05] talesporto opened #106 "[v4] When will be launched?"
Hi,

I'm building an application that need cast to chrome cast.
I use the v3 of this library and works fine.

But I need to send the tracks to chrome cast too. v3 do not handle tracks. v4 is handling it.

When it will be lauch?
And what is not working yet?

[2019-04-02 15:55] petrbela commented on #106
Hi! V4 should be working for the main use cases but I haven't done any extensive testing. I also haven't finalized the APIs which is why I don't want to make it official yet. I'm hoping to get it all finished one of the upcoming weekends.

[2019-04-02 20:06] talesporto commented on #106
Ok.
Let me know if I can help you with that.

Thanks by the fast answer and thanks for your time working on this library.

[2019-04-03 21:42] Rafazeon opened #107 "Failed to initialize CastContext"
Hello I followed the steps of how to install the library on android but I am having this error, how can I solve this in the android folder, Thanks.

[2019-04-04 00:00] petrbela commented on #107
Can you provide more information, like source code, when does this error happen, full stack trace etc?

[2019-04-04 02:42] Rafazeon commented on #107
I have the following problem now, I installed the library, I made the react native link and when running the project it appears
Can not read propety play of undefined,
In Loadmoduleimplementation.

My MainActivity:
package com.academia;

import android.content.Intent;
import com.facebook.react.ReactActivity;
import com.facebook.react.GoogleCastActivity;

public class MainActivity extends GoogleCas

[2019-04-04 03:55] czanella opened #108 "Testing on Samsung TV"
I'm trying to test my application on a Samsung Led 40 tv, which has Google Cast support (I'm not using any Custom Receiver, I'm trying to use the Default Media Receiver).

The problem is that the TV is not detected by react-native-google-cast. If I try to run `GoogleCast.getCastState()`, the result is always `NoDevicesAvailable`, and naturally `CastButton` is never rendered. Both the app and the T

[2019-04-04 05:01] Rafazeon commented on #107
C:\Projeto Surf\React-Native\node_modules\react-native-google-cast\android\src\main\java\com\reactnative\googlecast\GoogleCastOptionsProvider.java:19: error: GoogleCastOptionsProvider is not abstract and does not override abstract method getCastOptions(Context) in OptionsProvider
public class GoogleCastOptionsProvider implements OptionsProvider {

[2019-04-04 07:36] Rafazeon commented on #107
Finally works but <CastButton /> don't appear nothing :/ Android

[2019-04-04 15:04] rangav opened #109 "How to use with react-native-navigation"
Hi The documentation is not clear how to integration react-native-navigation and this library.

Can you please provide clear example code

[2019-04-04 15:15] petrbela commented on #108
Hi! I haven't tested with non-Chromecast devices but in theory, it should still work. Have you enabled [WiFi discovery](https://developers.google.com/cast/docs/ios_sender/#xcode_10)?

[2019-04-04 17:50] rangav opened #110 "CastMedia func has no return value in Android"
CastMedia for iOS returns mediaInfo but has no return value on android implementation. Just to let you know there is mismatch.

[2019-04-04 23:43] Rafazeon commented on #110
up, here don't work CastMedia Android too

[2019-04-05 02:43] Rafazeon opened #111 "Cast Youtube Media"
How can I stream a video from youtube to my chromecast?

[2019-04-05 03:20] #107 closed

[2019-04-05 03:43] czanella commented on #108
Thanks for the quick answer! Forgot to mention that I'm developing & testing on an Android device. Does Android have an equivalent of WiFi discovery? Or anything else that must be enabled in order to work with Google Cast?

[2019-04-06 19:55] Rafazeon commented on #110
Hey I fixed android issue

[2019-04-08 16:51] petrbela commented on #110
@Rafazeon care to share how you fixed it? :)

[2019-04-08 20:41] Rafazeon commented on #110
Yes @petrbela

I fixed issue with de code below:

componentDidMount() {
   this.registerListeners()
}

registerListeners = () => {

    handleClicked = (event) => {
      const { info } = this.props

      if(event === 'SESSION_STARTED') {
        return cast(info)
      }
    }

    cast = (info) => {
      GoogleCast.castMedia({
        mediaUrl:
          info.videos.url,
        imageUrl:

[2019-04-09 12:29] fi-nik opened #113 "[iOS] App crash on first usage of chromecast over nearby devices"
Hello, i'm having issue that app crash if i connect to chromecast over nearby devices for first time. Reason for crash is that when calling getCastDevice , device that we get from castSession has deviceVersion nill, which is causing crash. Also device has some strange values like friendlyName is "Nearby device" and not my chromecast name. After first time, and that crash, when i want to cast, i se

[2019-04-10 11:42] lindborg commented on #106
Is there any changes to the install process when using v4? I tried just downloading and overriding the v3 folder adding the xcode project and lib to my project afterwards, but I get these errors:

`Build input file cannot be found: '/Users/**/node_modules/react-native-google-cast/ios/api/RNGCRemoteMediaClient.m'
Build input file cannot be found: '/Users/**/node_modules/react-native-google-cast/ios

[2019-04-10 17:09] petrbela commented on #106
Hmm I'm testing with CocoaPods, let me check if there might be an issue with using it from Libraries.

[2019-04-11 08:04] lindborg commented on #106
What do you write in your podfile to get the v4 branch? (I'm not that familiar with CocoaPods). I can't seam to deduct the answer from your repo example.

[2019-04-11 11:28] lindborg commented on #106
Found the solution. No need to investigate.

[2019-04-11 11:45] lindborg opened #114 "Only seeing "Nearby Device" / Can't discover devices"
I'm having trouble discovering devices...

When clicking the cast button on iOS 12 (xCode 10, v4 branch, Google SDK 4.3.0), I only get a list with "Nearby Device". Clicking it will result in "Listening for nearby device" and "Please enter code of nearby device". After typing the code, the dialog closes and nothing. Other apps (Youtube etc.) can easily find my two Google Chromecast's on the same ph

[2019-04-14 14:18] WeeJeWel commented on #106
+1, also getting 👍
[code]

[2019-04-16 21:16] rangav commented on #58
I have testing with Custom Receiver and sent the content type = 'application/vnd.apple.mpegurl' from iOS app. Still getting Cors error.

I did not know where to set in Custom receiver, but i check the console it geting the contentType application/vnd.apple.mpegurl.

Can you please test the below live video youtube url and let me know if its wokring for you.
https://www.youtube.com/watch?v=joZGEQhp

[2019-04-16 21:20] rangav commented on #58
This the error i am getting

`Failed to load [VIdeoURl]: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin '[hostedURL]' is therefore not allowed access.`

[2019-04-22 20:43] petrbela commented on #108
@czanella Not that I'm aware of. The only thing that comes to mind is if you're building a custom app and it's not published yet, you need to register your receiver device at https://cast.google.com/publish/

[2019-04-22 20:46] petrbela commented on #109
Hi! There's a RNN example app for v4. I don't have that much experience with RNN myself but, hopefully, it will help. https://github.com/react-native-google-cast/react-native-google-cast/tree/v4/example

[2019-04-23 07:19] MwareSolutons opened #115 "Unhandled JS Exception: null is not an object (evaluating 'GoogleCast.play"
2019-04-23 09:16:48.595 [fatal][tid:com.facebook.react.ExceptionsManagerQueue] Unhandled JS Exception: null is not an object (evaluating 'GoogleCast.play

used the pods way of setting up:

  pod 'react-native-google-cast', path: '../node_modules/react-native-google-cast/ios/'
  pod 'google-cast-sdk', '~> 3'

how can I fix this?

[2019-04-23 14:49] petrbela commented on #115
This might be a stupid question but have you run `pod install` and rebuilt your app?

[2019-04-23 15:31] MwareSolutons commented on #115
hi thanks, yes did that indeed somehow it seems that GoogleCast is null
see screenshot for more info really stuck on this one

[Screenshot 2019-04-23 at 17.30.30.pdf](https://github.com/react-native-google-cast/react-native-google-cast/files/3108319/Screenshot.2019-04-23.at.17.30.30.pdf)

[2019-04-23 16:06] petrbela commented on #115
Well this happens when the native module is not loaded correctly. Do you see any error in the Xcode debug console?

[2019-04-23 17:04] MwareSolutons commented on #115
thanks for taking the effort in helping I see this in the debug console:

2019-04-23 19:00:44.279 [error][tid:com.facebook.react.JavaScript] null is not an object (evaluating 'GoogleCast.play')
2019-04-23 19:00:44.284 [fatal][tid:com.facebook.react.ExceptionsManagerQueue] Unhandled JS Exception: null is not an object (evaluating 'GoogleCast.play')
2019-04-23 19:00:44.294 [error][tid:com.facebook.r

[2019-04-23 17:28] MwareSolutons commented on #115
Ok fixed it, I used the pods method but this was creating the above errors i switched to manual setup and now its working fine... thanks for the support

[2019-04-23 18:16] petrbela commented on #115
Well, that's strange, to say the least. There are many people using it via CocoaPods...

[2019-04-28 08:34] rangav opened #116 "How to do Slideshow in Chromecast"
Any suggestions how best to implement slideshow feature.
To cast multiple images and change each pic after 5 seconds.?

[2019-04-29 15:49] petrbela commented on #116
Hi! This is going to be possible in v4. I'll add examples of how to do it.

[2019-04-30 14:34] talesporto commented on #106
+1

[2019-04-30 21:07] #75 closed

[2019-05-01 19:26] crwecker commented on #75
Upgraded to 3.1.2, but the chrome icon is still blue most of the time instead of the tintColor that I am setting :/

[2019-05-01 19:44] petrbela commented on #75
@crwecker Can you provide some code sample? I can't reproduce it on the example project anymore.

[2019-05-01 20:37] crwecker commented on #75
Hmm. Not easily. Here are the basic components I'm using (Sorry if this isn't actually helpful):
[code]

[2019-05-02 15:58] danielgssp opened #118 "Connecting me directly to the chromecast when there is only"
hi ;)
when there is only one chromecast it is possible with a click to connect it directly, without the option to select it.
and when you have more than one obviously appear the list of chromecast to connect me ?

[2019-05-02 16:06] petrbela commented on #118
Hi! First of all, I believe it might be against the design recommendations. Having said that, it's definitely not possible in v3. It might be doable in v4 which will give you a way to directly manage the connections but the code for that is not finished yet. I'll add it on the roadmap but it's probably not the most critical path.

[2019-05-02 16:08] petrbela commented on #75
Hmm well this isn't much helpful haha. Does it happen in a production app, or in development when (hot) reloading?

[2019-05-02 17:44] #105 closed

[2019-05-03 10:27] moodjii commented on #114
Any help with the comment above? @petrbela?

[2019-05-06 19:47] danielgssp commented on #118
Wel, it's ok! ty ;)

[2019-05-06 19:47] #118 closed

[2019-05-13 13:15] gazedash commented on #59
I have a problem with audio too. Whenever I use this library, even if I am not connected to any device, when I click on volume buttons on my phone, cast volume changes, but no the media/call volume. Help please

[2019-05-13 16:44] petrbela commented on #59
@gazedash iOS or Android? Which version of the library?

[2019-05-14 06:22] atulaccedo commented on #115
In my case, I'm using GoogleCast SDK version '4.3.0' through cocoapods. The latest version was causing duplicate symbol errors.

[2019-05-14 08:26] gazedash commented on #59
@petrbela Android , latest version

[2019-05-22 17:11] danielgssp opened #119 "The button does not appear in the IO's"
I manually set up the chromecast following all the steps and activated the `Wireless Accessory Configuration,` but the button does not appear on the iPhone.
It's all right, it appears on Android, What can I be doing wrong?

and he's with that warning :..
Module `RNGoogleCast` requires main queue setup since it overrides `constantsToExport` but dons't implement `requiresMainQueuesetup`. In a future

[2019-05-22 17:19] petrbela commented on #119
Does the example project work for you? Which version are you using?

You can safely ignore the warning (will be fixed in the next version).

[2019-05-22 17:31] danielgssp commented on #119
Good idea, I'll test the example.
I'm using v3.

[2019-05-22 19:32] danielgssp commented on #119
apparently it worked on the simulator but on the physical device it still does not appear!

[2019-05-23 18:26] #119 closed

[2019-05-28 13:06] dhamnesh commented on #113
Hi @fi-nik,

Facing the same issue. How to resolve it?

[2019-05-28 13:33] fi-nik commented on #113
Well, i had to fork library and remove that property from response :/

[2019-05-28 15:03] petrbela commented on #113
Hi! Sorry I've missed this one. We can certainly add a check for `nil` to prevent the crash. You can open a PR or I can do it probably later this week.

Just to help me debug, how do you activate the nearby devices search? Is it through the "guest" mode?

[2019-05-28 15:12] fi-nik commented on #113
Whatever is faster.
I think its enough to be in guest mode, but not sure. While are you debugging, please check why icon is not filled with passed color on first render, but as soon you click on button color is changed.

[2019-06-03 14:28] fi-nik opened #120 "When app go to background, library removes listeners"
Hello,
Library is removing listeners when app goes to background. Because of that, no events are triggered if we pause/play on notification, or if we disconnect from chromecast over notifications, we also dont get any event because listeners are removed.

[2019-06-05 10:28] gazedash commented on #120
@fi-nik I might be wrong but I think this is due to the fact that JS thread is not working in the background (React Native specific thing), but yes, there needs to be a way to overcome this

[2019-06-05 11:34] fi-nik commented on #120
@gazedash  Well i think thats not issue here. On Android lifecycle onHostPause is called, which is removing all listeners for chromecast, so all actions from notifications are ignored

[2019-06-07 14:00] jclrosa commented on #58
Hi @petrbela, in the first place thanks for the great library!

I think that I am having a similar CORS issue.
I can play successfully an `m3u8` format video without problems.
However, when I check the URL of the video I want to play on a Testing Streaming URL website, I got a CORS issue.

My question is what do I need to do in order to be able to play an `m3u8` URL video that has this CORS restri

[2019-06-07 19:55] petrbela commented on #58
Hi @jclrosa. I'm not sure what's the best path towards solving this on the client. Ultimately, CORS headers need to be set by the server, and browsers check for their presence. Apple TV, unlike Chromecast, doesn't run a web browser so it doesn't suffer from this issue.
What video hosting service are you using?

[2019-06-12 09:43] jclrosa commented on #58
Yeah, @petrbela that makes sense and explains the difference between Apple TV and Chromecast.
I am using AWS Cloudfront for video hosting service. If I need to set CORS headers by the server, do you know if there is any way of setting them to specifically for Chromcast, I mean what are the requirements in terms of headers that Chromecast requires for it to work?

[2019-06-12 15:14] petrbela commented on #58
@jclrosa Make sure you enable [OPTION requests](https://cl.ly/32e5280e8162) since that's the method CORS preflight uses. Also, Cloudfront is just a distribution; your origin server should set the appropriate CORS headers (for example, [follow this](https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html) if you're using S3).

[2019-06-16 23:53] RohitRox commented on #51
Could not get this fixed even by adding: $(SRCROOT)/../../../ios/Pods/google-cast-sdk to the paths. Any other ideas?

[2019-06-19 07:49] leifdroms opened #122 "Android: error: incompatible types: android.support.v7.app.MediaRouteButton cannot be converted to androidx.mediarouter.app.MediaRouteButton"
I can't get the app compiled for Android. iOS works fine. I keep getting the following error when I try to run `react-native run-android`  :

`> Task :react-native-google-cast:compileDebugJavaWithJavac FAILED
./node_modules/react-native-google-cast/android/src/main/java/com/reactnative/googlecast/GoogleCastButtonManager.java:34: error: incompatible types: android.support.v7.app.MediaRouteButton ca

[2019-06-19 15:27] dhamnesh commented on #122
Facing the same issue. How to resolve it.?

[2019-06-19 17:08] petrbela commented on #122
Hi! This will be fixed by #121. Until that's merged and released, you can set `castFrameworkVersion` to `16.2.0` as described in the [Android installation](https://github.com/react-native-google-cast/react-native-google-cast#installation)

[2019-06-19 17:22] petrbela commented on #122
Released as 3.1.3

[2019-06-19 17:22] #122 closed

[2019-06-19 22:29] jonnynfb commented on #75
To get it working on iOS and Android I have to do this:
`<CastButton style={styles.castButton} tintColor={Colors.black} />`
but iOS is still not working half of the time. Then I have to hardcode it in RNGoogleCastButtonManager.m
`
- (UIView *)view {
  GCKUICastButton *castButton = [[GCKUICastButton alloc] init];
  castButton.tintColor = [UIColor blackColor];
  return castButton;
}
`
It's now alway

[2019-06-19 22:36] petrbela commented on #75
@jonnynfb Are you on the latest version? Could you test if the example project works correctly? I haven't been able to reproduce the problem since https://github.com/react-native-google-cast/react-native-google-cast/commit/954e47db3899ce66560a9825ef0e453b3055420a

[2019-06-19 22:43] jonnynfb commented on #75
Ah... I'm on my own repo but I see the fix. OS it probably has been fixed on main repo.

[2019-06-20 03:06] leifdroms commented on #122
I wrote a script to rewrite all the references in my node modules because it looks like some other libraries I have are running into the same problem. It worked!

[2019-06-25 04:00] nenjamin2405 opened #125 "How to hide the cast button in Expanded Controller?"
First of all, thank you for creating this awesome library for integrating Google Cast to React Native.

As I read in the documentation, the **Expanded Control** has the exception of receiving session lifecycle (connect/stop casting), so I cannot listen to the **SESSION_ENDED** event when the user stops casting using **Cast Button** inside expanded control. It leads to the problem that my app's UI

[2019-06-25 16:03] petrbela commented on #125
Hi @nenjamin2405! Are you sure the SESSION_ENDED event is not triggered? It seems weird it would behave differently based on which UI button you press.

[2019-06-26 19:15] narendrabade opened #126 "_OBJC_CLASS_$ reference error"
<img width="319" alt="Screen Shot 2019-06-26 at 2 53 30 PM" src="https://user-images.githubusercontent.com/13159169/60206796-732ab700-9822-11e9-91af-4c6b60a80d90.png">

We have a standalone video playback app, in which we have Chromecast working fine. Now we are trying to convert this app as a framework and add it in the parent app.
While building framework, reference error pops up. If I comment o

[2019-07-02 17:23] tylerfloyd commented on #125
I am running into this issue, too.

[2019-07-03 04:11] nenjamin2405 commented on #125
Hi @petrbela, sorry for the late response, yes I tested it and the event SESSION_ENDED is not triggered if I stop the Chromecast inside EXPANDED CONTROLLERS. As @tylerfloyd said, it seems to be Android specific problem

[2019-07-09 16:16] jclrosa commented on #58
@petrbela Thanks a lot for your suggestions! Yeah, by updating `Allowed HTTP Methods`, adding a CORS Policy to the S3 Bucket and updating the Cloudfront Behaviour definition I was able to play the video on `Testing Streaming URL` website like Radiant Media Player.

However, when I try to reproduce it on Chromecast I just got a black screen. I don't know what any more options I should update. I thi

[2019-07-09 16:21] petrbela commented on #58
Hmm not sure what could be causing that. You can debug a custom receiver app as described at https://developers.google.com/cast/docs/debugging. Since that's a plain old HTML page, you should be able to see why it's not working.

[2019-07-12 13:51] jclrosa commented on #58
@petrbela Finally got my video playing on Chromecast! I think that without accessing the Chromecast debug console I was never able to put it ok. The problem is that my videos have separate audio tracks, so I needed to build a custom receiver like is explained here: https://stackoverflow.com/questions/55224639/does-the-chromecast-support-casting-videos-from-reddit-hls-and-dash-videos.

So the solut

[2019-07-13 16:12] alfiedouglas0 opened #131 "Can't build android with with RN 0.60"
Everytime I build the android project I get the error:

    FAILURE: Build failed with an exception.

    * What went wrong:
    Execution failed for task ':react-native-google- cast:compileDebugJavaWithJavac'.

where the first error is:

    Error: Command failed: ./gradlew app:installDebug -PreactNativeDevServerPort=8081
    /Users/../GoogleCastActivity.java:14: error: package android.support.v7

[2019-07-16 22:42] flexgrip commented on #131
I'm having the same issue. Same exact versions as you @alfiedouglas0.

Any luck?

[2019-07-17 08:45] alfiedouglas0 commented on #131
Nothing yet - lost waaay too much time trying to solve it so I've just decided to continue my project using RN0.57.

I've put a question on SO and I'll post here if I find anything out!

[2019-07-17 15:37] undef1ned opened #133 "CastButton is inactive"
Hello,

I've integrated 3.1.3v of the lib. However, when I start the app, I can see the CastButton but it's not clickable/not active. There is no popup with device list. The Chromecast device is connected and is seen by other apps.

Followed the setup guide and seems didnt miss anything. Anyway the CastButton is present, which means the lib locates Chromecast around, but tapping on icon results in

[2019-07-18 00:50] flexgrip commented on #131
I kind of made some headway. The package builds, but now I get an error `Native module RNGoogleCast tried to override GoogleCastModule...`

I checked and I don't have the package listed twice. So I can't figure out what's going on.

How did you downgrade to RN0.57? Any problems?

[2019-07-18 01:05] flexgrip commented on #131
Ok, I added that override to the module's constructor thingy. Now the module compiles and boots. But refuses to show the CastButton and if I try to cast manually, I get an error about `reactNativeGoogleCast.default.cast is not a function`

[2019-07-18 01:47] flexgrip commented on #131
Sorry to keep spamming this thread. Wonder if you've tried the commits from his react-native-google-cast v4 repo @alfiedouglas0? Presumably, the example in there works and its running RN 0.58.

[2019-07-18 06:33] flexgrip commented on #131
It just occurred to me. I got this library to compile on android in RN 0.60.3. But I thought it was broken because the cast button is missing. However, it's also missing in youtube. So I may need to test on a real device to see if it shows up and works. Grrr.

[2019-07-18 10:19] alfiedouglas0 commented on #131
oh awesome! Did you have any luck running it on a real device? and if so how did you do it! :)

[2019-07-18 20:39] alfiedouglas0 commented on #104
I had this exact issue, but it was because I hadn't restarted my chromecast since registering my chromecast as a receiver device on https://cast.google.com/publish/, hope this helps!

[2019-07-18 22:45] flexgrip commented on #131
I ended up using one of those android gaming emulators for mac because they often have bridged network mode. Ran my app and yes, the chromecast button showed up and seems to work. I haven't been able to cast anything, but I'm pretty sure that's because I'm instantiating it wrong.

I have to apologize. The last time I worked on it, I spent hours just trying different things and patching holes. So I

[2019-07-19 12:34] ronit-kadwane opened #134 "Duplicate symbols for architecture x86_64 in iOS"
I was trying to build the app but the error is showing **13 duplicate symbols for architecture x86_64**

My system info
[code]

xcode error :
[code]

I tried many things to fix this error but didn't get success
some of  [ref link](https://stackoverflow.com/questions/24298144/duplicate-symbols-for-architecture-x86-64-under-xcode/28715256)

[2019-07-19 13:47] petrbela commented on #134
Hi! It's caused by https://issuetracker.google.com/issues/113069508, please use Cast SDK 4.3.0
I'll make it clearer in the docs.

[2019-07-22 05:34] #134 closed

[2019-07-22 05:41] ronit-kadwane commented on #134
The issue was solved by Cast SDK 4.3.0 but as I am developing at react-native 0.60.3 so Xcode showing a message
[code]
and app closing immediately.
Can you (@petrbela) please guide me on how to overcome it?

[2019-07-22 19:11] igor-nm commented on #131
Any news? I've same error here!!
And react-native's upgrade is necessary on my project

[2019-07-22 19:16] flexgrip commented on #131
It's working for me. I kinda have to rebuild my entire android directory. One thing I noticed is that I did not have to add `packages.add(new ReactVideoPackage());` or `public class MainActivity extends GoogleCastActivity`. That got my app to boot with chromecast and it worked.

That being said I haven't tested it on a real device yet.

[2019-07-23 12:38] petrbela commented on #131
Hi everyone! I've finally found time to look at this today. There's indeed a bunch of changes due to AndroidX. I'm following the official upgrade guides and should have a fix for 0.60 available in a few hours.

[2019-07-23 12:42] petrbela commented on #134
The "main queue setup" should be just a warning (there's a PR to fix it).

Do you see any crash message in the XCode output? 0.60 isn't tested yet; I'm just migrating to it today so there'll probably be some necessary fixes (there definitely are breaking changes for Android #131).

[2019-07-23 12:52] igor-nm commented on #104
I'm closing this issue because this is fixed in the new version, it's working now.

[2019-07-23 12:52] #104 closed

[2019-07-23 19:01] petrbela commented on #131
Btw anyone tried to use [jetifier](https://github.com/mikehardy/jetifier)?

[2019-07-23 19:09] flexgrip commented on #131
Yep. My app (which I believe has working android chromecast) is using it.

[2019-07-24 01:42] flexgrip commented on #131
I just noticed that on android, the icon isn't showing up when I put it in the header. However, the button is there. Because if I click where it is supposed to be, the cast dialogue shows up and lets me cast the video.

Also, regarding jetifier. I did end up having to run the jetifier update thingy and that helped.

[2019-07-24 12:59] nbennink commented on #133
We experience a similar problem but it's limited to a few devices. One Plus 6(T) and the Samsung Galaxy S8 to be exact (Android 9). I don't experience problems with other Android devices such as the Galaxy J5 2018, Google Nexus 5X (Android 8.1) or the One Plus 5T (Android 9).

Do you experience this issue on all devices are only a few?

[2019-07-24 13:03] undef1ned commented on #133
@nbennink Tried with LG G4 only (Android 7)

[2019-07-24 18:06] hitaloramon commented on #102
@petrbela I tried to look for an example of how to use external subtitles and not find, could how to send?

[2019-07-24 20:21] flexgrip commented on #131
Any update here? I'm going to try rebuilding the package from scratch again, starting with jetifier. But if you have a branch or commit almost ready, I'll wait.

[2019-07-24 20:41] petrbela commented on #131
Not finished yet. I'll probably end up officially supporting v3 at 0.59, which could be used with a 0.60 project by using jetifier, and focus on fully migrating to 0.60 in v4 (which now gets trickier because the packages I use for the examples there haven't been migrated to 0.60 yet 😂).

[2019-07-24 20:43] petrbela commented on #102
I'll be doing a big push of v4 over the weekend, including docs and finalized APIs, so hopefully, it's not too late for you.

[2019-07-24 20:45] hitaloramon commented on #102
@petrbela perfect, I was trying to understand how v4 works, but I'll wait for the doc! Awaiting!

[2019-07-25 00:01] flexgrip commented on #131
@petrbela - So I started from scratch today. Reinstalled your package, set it up via the instructions, and then I ran `npx jetifier`. At that point everything compiled and ran in my apk...

The only problem is, no chromecast button :/

[2019-07-25 00:03] flexgrip commented on #131
Actually, it does *kind of* work.

Here's what I have to do.

1. Open up youtube and click the cast button
2. Switch back to my app and click where the chromecast button *should* be and the menu opens. And it actually casts the video :)

So I think there's some problem with the logic on android where it only shows the cast button when there are devices detected. Something is causing them to not be

[2019-07-25 00:29] flexgrip commented on #131
Grrr... Nevermind. It is showing the cast button... It's just showing up black on a black background and I can't change the damned color :)

[2019-07-25 00:37] flexgrip commented on #131
Ok, with that settled, I am now back to a working state on android. Casting button shows up, works, etc. I still think that it's the last cast button that will show up on the list. In other words, it seems to be very delayed in finding devices to cast to...

But anyway, the only other problem I'm having is that if I stop casting from the expanded controls, it doesn't fire the SESSION_ENDED event.

[2019-07-29 07:39] nbennink commented on #133
The Chromecast button is quite hard to press on all Android devices. A lot of times I press on the button and it just ignores the press event and goes to the view underneath it.

It's hard to reproduce but these are the steps: build the library using version 3.1.3. Add a view with with a TouchableHighlight. Place the Cast button on top of that view (top right corner in my app). Try to press the ca

[2019-07-29 08:13] petrbela commented on #133
Hmm, one thing that could be happening is the button area is too small (24x24 by default I believe). I think the recommended minimum size for a button is 44pt, and a lot of design systems use 48. Can you try changing the button style to something like `{{ margin: -12, width: 48, height: 48 }}` (negative margin will make the clickable area larger without moving the button) and see if it helps?

[2019-08-06 14:39] sck-v commented on #126
@narendrabade do you use CocoaPods? If so, try to downgrade version. Downgrading from 1.7.0.to 1.5.3 helped me

[2019-08-18 17:39] MwareSolutons opened #139 "GoogleCast.launchExpandedControls() Crashes the App"
when I call GoogleCast.launchExpandedControls();
it crashes the app so hard there is no error information
using V3 library and RN 59.5

the casting does work normally

[2019-08-23 15:00] jedashford commented on #131
Just to chime in here, we upgraded to .60.5 without issue. We just left the dependency linked and jetifier ran without issue and we never had a second thought. We are getting a crash mentioned here (https://github.com/react-native-google-cast/react-native-google-cast/issues/139) which we're digging into right now: "GoogleCast.launchExpandedControls() Crashes the App #139" -

[2019-08-23 15:06] flexgrip commented on #139
I get this as well. Although not every time. Usually I can use the expanded controls once, then if I use them again after reconnecting, the entire app crashes.

[2019-08-23 18:11] jedashford commented on #139
We've been seeing this too. Appeared after upgrading to .60.5, although we're pretty sure thats not the cause especially since its a native crash. We're trying to track it down.

[2019-08-23 18:24] hitaloramon commented on #102
@petrbela When will the documentation be available? Any progress?

[2019-08-26 00:36] sureshsamanthapudi opened #141 "Need help in creating new component library"
This issue is not related to 'react-native-google-cast'.
We are creating a new private component library for our organization.
I tried the following:

Component library itself as a separate project with react and react-native as peer dependencies in my project.
But having just the components code in component library is not useful because we have to add new code or fixes and we have to run the sto

[2019-08-26 10:07] petrbela commented on #141
Not sure if I understand your question correctly but the library usually has `react` and `react-native` defined both as `peerDependencies` (with a flexible version), and also as `devDependencies` (with a more specific version) for local development, e.g. tests, demo, or Storybook.

I'd recommend you follow https://github.com/frostney/react-native-create-library (https://medium.com/wix-engineering/

[2019-08-26 10:07] #141 closed

[2019-08-28 12:34] nbennink commented on #134
Today I've received a note from Google about the release of iOS 13:

[code]
So I tried to run our app with the iOS 13 beta (Cast sdk 4.3.0) and can confirm that the cast button is not visible (with and without guest mode). I've been digging into this error today but it seems to be complicated.

[2019-08-29 21:01] jedashford commented on #139
We're seeing this only on Android, although I haven't tested on apple.

Here's our stacktrace:
[code]

[2019-08-29 21:29] jedashford commented on #139
Ok we might have two different problems. Ours is on 0.60.5, only happens when proguard is on, so we narrowed it down to the androidx libs and adding this to proguard fixes the problem:
[code]
We might wanna update the documentation.

As for the problem with @MwareSolutons , that might be something else since ours was specific to 0.60+ and androidx

[2019-08-30 05:45] flexgrip commented on #139
Where do you put that?

[2019-08-30 05:58] flexgrip commented on #108
This must be the case @petrbela. My app sees about 1/3rd of the castable locations that, say, the twitch app sees. I don’t quite understand why the hell a custom receiver would make a difference. But right now, this library can only see the physical hardware chromecast devices.

It makes no sense to me that a custom receiver would be needed so that a “google cast device” built into a smart tv can

[2019-08-30 15:38] jedashford commented on #139
[code]

I have proguard set to true for both release and debug builds. You should have something like this in your `android/app/build.gradle` file:
[code]

If `enableProguardInDebugBuilds` is set to true, then prooguard will strip out, what it thinks, is unused files in your dependencies. Adding the line mentioned above to the file tells proguard not to strip out those new androidx mediarouter fil

[2019-09-06 13:41] normenster opened #142 "Cast Button in iOS app build with Google Cast 4.4.4 not visible"
I've implemented this module with v3.5.6 of GoogleCast and it works fine. Now I've updated the Google Cast SDK Library to 4.4.4 (via pod) and it works in Developer Run Mode on my device. But if  I publish the app to testflight and install it on my device, the cast button ist never showed. Any Ideas on this?  There is a Run Script `strip_unused_archs.sh` for removing unused architectures, but that

[2019-09-14 08:38] nikesh8 opened #144 "Android build installation failed"
"react": "16.8.5",
"react-native": "0.59.2",
"node": "10.16.3",
"react-native-google-cast": "3.1.0",

**Check the below screen shot:**

![Screenshot 2019-09-14 at 1 59 47 PM copy](https://user-images.githubusercontent.com/55312626/64905672-8e0e1880-d6f9-11e9-8fd8-8c872eb25878.png)

Can you please ( @petrbela ) guide me how to overcome it?

[2019-09-18 13:09] nikesh8 opened #145 "[iOS] After downgrade google cast sdk 4.3.0"
I have downgraded sdk for resolving ios duplication issue(https://github.com/react-native-google-cast/react-native-google-cast/issues/134#issue-470301816)

I was trying to build app after installing google cast sdk 4.3.0 and then when I'm trying to connect device its connected successfully but getting this error which was mentioned in screenshot find it in attachment:

**My system info:**
System:

[2019-09-18 14:51] petrbela commented on #145
Hi, the error looks like you're trying to call `initChannel` (or `sendMessage`) when you're not connected to a Chromecast. What are you trying to achieve?

[2019-09-19 04:39] nikesh8 commented on #145
**Here's the log which is shown below:**

2019-09-19 10:04:09.003 [info][tid:com.facebook.react.JavaScript] EVENT_SESSION_STARTING >
2019-09-19 10:04:09.012436+0530 [3332:2119945] EVENT_SESSION_STARTING >
2019-09-19 10:04:25.055974+0530 [3332:2119788] *** sending: {"type":"GET_STATUS","requestId":4}
2019-09-19 10:04:25.137 [info][tid:com.facebook.react.JavaScript] EVENT_SESSION_STARTED >
2019-09-1

[2019-09-19 04:43] nikesh8 commented on #145
Here's the log which is shown below: @petrbela can you please go through this log?

2019-09-19 10:04:09.003 [info][tid:com.facebook.react.JavaScript] EVENT_SESSION_STARTING >
2019-09-19 10:04:09.012436+0530 [3332:2119945] EVENT_SESSION_STARTING >
2019-09-19 10:04:25.055974+0530 [3332:2119788] *** sending: {"type":"GET_STATUS","requestId":4}
2019-09-19 10:04:25.137 [info][tid:com.facebook.react.Jav

[2019-09-27 06:33] Purvik commented on #116
@petrbela  Hey, looking for the same thing. Have you done any example for it?
Please share the details of it.

[2019-09-27 16:08] santosrenanlimer opened #146 "react-native-google-cast em TVs smart is possible?"
Is it possible to detect devices on smarts tvs? I did a test here and CastButton didn't render, only works with chromecast connected devices? If so, what could be the alternative to solve this problem.
Sorry for my english, I'm brazilian.

[2019-10-01 12:47] nikesh8 commented on #145
@petrbela Any updates for this issue?
As I am stuck at this point and due to this problem I can't upload build and it seems delayed.
Can you please guide how it will be overcome?

[2019-10-03 15:21] brooklyn097 commented on #102
Hi, Any updates here? I would be really appreciate if you can provide a quick doc about Closed Caption @petrbela .Thank you!

[2019-10-08 06:42] nenjamin2405 commented on #94
Hi @TriPSs, I successfully use your implementation to customize Android's expanded controllers, but I'm not sure how to apply the customization on iOS, did you find a way to implement it?
This [documentation](https://developers.google.com/cast/docs/ios_sender/customize_ui#apply_custom_styles_to_your_ios_app) doesn't have clear example like the Android one :(

[2019-10-08 06:59] TriPSs commented on #94
@nenjamin2405 sorry no, i only used this lib on Android.

[2019-10-08 07:17] nenjamin2405 commented on #94
Ok I got that, thanks @TriPSs. @petrbela could you help me with the customization on iOS?

[2019-10-15 07:48] ronit-kadwane commented on #145
@petrbela I am also facing the same issue.
Initially, it was working but as I upgraded my project to react-native 0.61.0 version it is throwing error.
Please Update If you have any solution to it.
Thank you.

[2019-10-16 04:43] #144 closed

[2019-10-17 14:31] raphaelluiz128 opened #147 "'No midia selected' after conected to Chrome Cast"
Dear, I am almost able to make the React-native-google-cast package work in my app, but when I test in chrome cast it appears that I have no media selected.

I am using a screen where there is the video component to display the video on the screen and at the same time I have a button (castButton) on line 22 where I click on it and show the chrome cast device available so I can connect with that bu

[2019-10-18 14:11] lindborg opened #148 "Unable to discover in iOS 13.1.2"
I had a working app, and after updating to iOS 13.1.2 I can't discover nearby devices. It still works if I run it in my Simulator from Xcode on the same network. I can also discover "nearby device" if I get really close to a chromecast (probably through bluetooth), but it won't automatically list and name the devices as previously.

Any suggestions to solving this issue?

[2019-10-22 08:56] nenjamin2405 commented on #148
@lindborg I'm facing the same problem, the previous app worked, but now it didn't. @petrbela please help us on this

[2019-10-23 06:52] nenjamin2405 commented on #148
Hi @lindborg, did you have a solution for this issue?

[2019-10-23 07:14] nenjamin2405 commented on #79
Hi @nbennink @petrbela, I'm having the issue like this https://github.com/react-native-google-cast/react-native-google-cast/issues/114 when using google-cast-sdk '4.3.0' together with "react-native-google-cast": "^3.1.3". Any idea how to resolve this? When the popup `Connect to nearby device` appears, I cannot even touch any option of it

[2019-10-23 07:39] nbennink commented on #148
What version of the SDK are you using? iOS13 changed a few things that's why Google recommends to update to version 4.4.4.

There are a few issues with this library and SDK versions newer than V4.3 (#134). I'm still finding a "good" solution for this. The dynamic framework appears to work but the downside is that you are unable to install it using Pods.

[2019-10-23 10:43] nenjamin2405 commented on #148
Hi @nbennink, I had the same duplicate symbols issue like the above link. But because of the lack of skills and knowledge related to dynamic framework linking, I still cannot make it work, so could you please help me to confirm and answer questions of dynamic framework method below, I'll really appreciate:
1. I need to follow the `Manual Setup` section in this [link](https://developers.google.com/

[2019-10-23 19:19] petrbela commented on #148
It looks like the `google-cast-sdk-no-bluetooth` pod compiles successfully. I'm still testing for any side-effects but will probably end up changing the dependency in podspec and releasing a new version.

@nbennink Did you manage to get the library work with the Manual Setup? Could you please provide any details? I'll then update the README instructions.

[2019-10-26 17:33] lindborg commented on #148
Really appreciate the work @petrbela. Do you know when we can expect a new version?

[2019-10-26 19:57] PestiB9 opened #150 "Android: unable to cast video"
RN -> 0.61.2
react-native-google-cast -> 3.1.3

After setting all the listeners like in the example i set up the connection and i get:
SESSION_STARTING [null]
SESSION_STARTED [null]

then i can see both the media title on the display and the expanded media control on the device for a little moment and it goes back to the screen i get after connecting (before i call the cast function).

Meanwhile i

[2019-10-26 21:21] petrbela commented on #150
Hey @PestiB9, what's the format of the media?

[2019-10-26 21:32] PestiB9 commented on #150
Hey it's a mp4 video, i tried on different monitors with the same chromecast hdmi device and different different wifi networks but i get always the same error even changing the video (always mp4).
I didn't tried to use a media with different formato yet.

[2019-10-26 22:36] petrbela commented on #146
Hi! In general, Android TVs should be supported. I think other smart TVs don't support the official Google Cast protocol, so they won't work. What TV did you test with? Can you cast to it from other apps?

[2019-10-26 22:41] petrbela commented on #108
I think a custom and default app should be equivalent in terms of discovering and connecting to devices.

Can you test with the latest SDK?

[2019-10-26 22:43] #115 closed

[2019-10-26 23:00] petrbela commented on #148
Ok deployed. Can you guys test 3.2.0? In Podfile use `pod react-native-google-cast/NoBluetooth'`

[2019-10-28 02:48] nenjamin2405 commented on #148
Awesome @petrbela!!!, It works now with `pod 'react-native-google-cast/NoBluetooth'` option, really appreciate your work on the new version. However, when I tried to use this option to leverage the bluetooth:

[code]

when the popup `Connect to nearby device` appears, it is not touchable, I couldn't choose any option of `Connect`, `Skip`, or `Cancel`. Do you have any idea what this problem is?

[2019-10-28 14:16] petrbela commented on #148
@nenjamin2405 My hunch would be something to do with the older version of the SDK and iOS 13. If it only appears on 4.3.0, I probably won't have the capacity to test this and will instead focus on supporting the latest version now that it works without Bluetooth (I also want to look into using the Manual installation option with Bluetooth). Feel free to investigate yourself and please report back

[2019-10-28 15:38] gavrichards commented on #148
Just wanted to say thanks for the great work here, I've been able to get this working in my new app now. Looking forward to further updates :)

[2019-10-29 03:48] nenjamin2405 opened #151 "[iOS] Google Cast not working after killing the app and re-opening it"
**Platform**
iOS

**RN Google Cast Version**
3.2.0

**How to reproduce**
The castState is `NotConnected` -->  press on the ChromeCast button to connect --> everything related to Google Cast is working fine at this moment --> Kill the app and re-open it --> `const castState = await GoogleCast.getCastState()` will return`Connected` --> use `const deviceInfo = await GoogleCast.getCastDevice()`, the d

[2019-10-29 10:29] petrbela commented on #151
Hey, sorry, I don't seem to be able to reproduce this. After killing the app and reopening, it automatically rejoins the previous session. Also, there wasn't any relevant change in the iOS code between 3.1.3 and 3.2.0 other than updating the SDK. Maybe the issue is flaky?

If you experience it consistently, can you make an example project so we can pinpoint the problem?

[2019-10-29 10:34] #148 closed

[2019-10-29 11:20] petrbela commented on #145
Please test with latest version >=3.2.0

[2019-10-30 09:14] nenjamin2405 commented on #151
@petrbela Sorry for this phrase
[code]

Actually, the old working app is an Android app. not an iOS app, so I'm not sure whether this problem is available on iOS in the older version of RN Google Cast.

I already tried to create a whole new RN project and integrated RN Google Cast's latest version, and I saw that `await GoogleCast.getCastDevice()` returned `undefined` if I connected then close and

[2019-10-31 05:17] nikesh8 commented on #145
I've tried with **latest version 3.2.1 and google-cast-sdk version 4.3.0** but still getting same error @petrbela Can you please help out with this issue?

[2019-11-01 13:12] jwenl commented on #139
We are seeing this issue on IOS

[2019-11-01 14:35] petrbela commented on #131
Closing this, you should be able to get v3 to work with 0.60+ (and v4 with 0.59) using jetifier.

[2019-11-01 14:35] #131 closed

[2019-11-07 10:11] RamyaVaradharajan opened #152 "Nothing happened.Can you give the proper example? See the source code, Is that the structure???"
Give the proper example...Explanations are different from the example.How can I use it??

[2019-11-07 19:22] petrbela commented on #152
Can you please explain how is the example different from the documentation? Would love to fix it!

[2019-11-08 02:02] nenjamin2405 commented on #151
Hi @petrbela, did you try to start the app from scratch and integrate the RNGoogleCast to test the `undefined` problem of the `await GoogleCast.getCastDevice()`

[2019-11-09 05:42] neoassyrian opened #153 "How to install V4"
Hi guys,

Is there any basic information on how to install the V4 of this branch. I would like to use that one. I have used V3 before, and now would like to trial V4.

I installed the V4 branch into my RN applicaion using
npm install --save git://github.com/react-native-google-cast/react-native-google-cast#v4

Then did cd android > ./gradlew clean

Then tried to build it and got the following:
[co

[2019-11-12 17:26] seeocon opened #154 "[ANDROID] Google cast not available."
**Describe the bug**
So I've set everything up, as stated in the docs. iOS version of the app can detect devices, however the android version is not detecting anything. I get message "NoDevicesAvailable".

**Versions:**
- RNGC Library Version: 3.2.1
- Android Version (if applicable): above 27 I believe.
- OS Version (if applicable): 7+ (everything above 7 has been tested)

**To Reproduce**
Steps t

[2019-11-13 00:26] sampsonjoliver opened #155 "Typescript types are missing playPosition"
Simple enough. In `3.2.1` the `CastOptions` are missing `playBackPosition`

[code]

As we rely on this for our implementation, this blocks our build due to typescript errors.

[2019-11-13 17:50] petrbela commented on #153
Hey! Thanks for your interest! Right now, v4 works with the example project in the repo, so I'd recommend checking that out. However, I'd still consider it in alpha/preview stage, so things might still break. I probably wouldn't recommend it yet if you're not comfortable with RN libraries. I hope to get back to finalizing a beta of v4 in December. (Sorry, it's a side project and startups don't lea

[2019-11-13 17:55] petrbela commented on #94
@nenjamin2405 You can customize the UI for iOS in AppDelegate as described in https://developers.google.com/cast/docs/ios_sender/customize_ui
Please let me know if anything's missing, I might add it to v4.

[2019-11-13 18:35] petrbela commented on #155
Fixed in 3.2.2. Thanks!

[2019-11-13 18:35] #155 closed

[2019-11-13 23:09] sampsonjoliver commented on #155
Awesome, thank you! :)

[2019-11-19 09:27] MaxDesplanches opened #159 "iOS cast local file"
Hello there,

Your package works like a charme on iOS, but I am trying to cast not from an url, but from local.

I am using package "react-native-image-crop-picker" to select media, but path url does not seems to be supported:

The app connect to chromecast, the icon stay blue on screen but mobile does nothing.

Here is the local url I have tried (big bunny works well with https protocol):

"file:

[2019-11-19 10:20] MaxDesplanches commented on #159
It is not possible after reading documentation, the cast protocol only allow distance media, except if I share the screen stream.

[2019-11-21 18:55] petrbela commented on #159
I haven't tried it myself but the Cast receiver is effectively a Chrome browser that downloads and plays remote media, so you'll need to give it a remote URL to a file on your iOS device (`file:` protocol won't work because that would point to a local file on the Chromecast device, not your phone). I believe the way the "LocalCast" apps that you can find on App Store that enable you to cast local

[2019-11-29 12:47] rangav commented on #116
Hi @petrbela any update on slideshow.

[2019-12-02 04:28] johnbowdenatfacet opened #162 "Error: Google Cast not available"
**Describe the bug**
Install app on Android device builds but results in (from GoogleCast.getCastState):
Error: Google Cast not available

**Versions:**
- RNGC Library Version: 3.2.2
- Android Version (if applicable): api 29 on emulator
- OS Version (if applicable): 10 and 9
- RN:  0.61.1
- React: 16.9.0

**To Reproduce**
Steps to reproduce the behavior:
Follow setup instructions

**Expected behav

[2019-12-02 20:40] petrbela commented on #162
This looks like you don't have Google Play Services installed. On an emulator, you need to install Google Play Services manually. You can install them either from http://opengapps.org or follow tutorials online.

[2019-12-02 21:09] TheSavior opened #163 "NSInvalidArgumentException crash when rendering CastButton"
**Describe the bug**
When rendering
[code]

the app crashes and I get some exceptions in Xcode.

**Versions:**
`npx react-native info`
[code]
- RNGC Library Version: 3.2.2
- google-cast-sdk version: 4.3.0

**To Reproduce**
Steps to reproduce the behavior:
I have a screen that renders the google cast button. When I render it my app crashes, if I comment it out (but still have the imports) then it l

[2019-12-02 22:25] johnbowdenatfacet commented on #162
This also happens on my S10 adb device with Play etc installed.

[2019-12-02 23:43] johnbowdenatfacet commented on #162
Sorry, I had the meta-data tag in the wrong place.  Closing this.

[2019-12-02 23:43] #162 closed

[2019-12-08 14:02] namitonefc opened #165 "iOS - Channel is not connected or is not registered with a session"
**Describe the bug**
Getting "sendTextMessage error Channel is not connected or is not registered with a session" on iOS.

Here is the code -
[code]
I am getting **channel init success** but later while trying to send message to channel, I get **sendTextMessage error Channel is not connected or is not registered with a session**.

I am using -
pod 'react-native-google-cast/NoBluetooth', path: '../

[2019-12-08 15:32] skantus commented on #102
Hi everyone I give support for `MediaTracks` only for "iOS" in this PR: https://github.com/react-native-google-cast/react-native-google-cast/pull/164 🚀

If you want to use my repo until the PR is merged feel free to do so:

https://github.com/skantus/react-native-google-cast/releases/tag/v3.2.4

***Note:*** This version only works in Xcode 10.3 or earlier since the new version has security limitat

[2019-12-08 15:47] petrbela commented on #165
Hmm, I'll need to re-test this feature. Thanks for opening the issue.

[2019-12-08 15:49] petrbela commented on #102
@skantus Thanks for the PR. I wonder what security limitations you're referring to. The library works on iOS 13 (just doesn't support Bluetooth Guest Mode currently), and your PR doesn't affect security.

For everyone else, I'm planning to finish v4 this Christmas. It includes, among others, a full API for setting media tracks and styling them. For a preview see the v4 branch.

[2019-12-08 16:17] namitonefc commented on #165
Thanks @petrbela. I am stuck on this. Looking forward to hearing from you soon.

[2019-12-08 19:21] skantus commented on #102
@petrbela I'm having troubles compiling v4 in Xcode 11 any tricks to solve it?

[2019-12-08 19:54] petrbela commented on #102
@skantus You'll probably need to use the NoBluetooth version. See https://github.com/react-native-google-cast/react-native-google-cast#installation

[2019-12-10 17:22] namitonefc commented on #165
@petrbela Any update on this?

[2019-12-10 18:29] petrbela commented on #165
@namitonefc Hey, definitely won't have time to look into it until this weekend, sorry :(

[2019-12-14 11:54] namitonefc commented on #165
@petrbela Please let me know if you find anything.

[2019-12-17 18:18] raphaelluiz128 opened #166 "use local image instead of internet link image"
I am testing on android and can not put an image that is inside the application in the 'imageUrl' part. You got it ? I can only use image links from the internet.

[2019-12-17 18:26] petrbela commented on #166
Your local phone images cannot be used on Chromecast. The Chromecast device is like a separate computer, so it can only load remote images.

You could, in theory, create a local server on your phone and serve images from there (so-called "local streaming"). Not sure if that's what you want (it's a bit complicated) but you should be able to find guides on how to do it. Unfortunately, it's beyond th

[2019-12-17 18:26] #166 closed

[2019-12-21 17:55] namitonefc commented on #165
@petrbela Any update on this?

[2019-12-30 15:20] harrydema commented on #87
Do we have an example with the integration of react navigation?

[2020-01-01 19:38] Andy40au commented on #163
@TheSavior Did you ever figure out what was happening? I am facing the same issue

[2020-01-01 19:46] TheSavior commented on #163
Nope, I never solved it. Ended up just not having google cast support (in my personal app).

[2020-01-10 13:22] SUJITHBHAT commented on #165
Any update on this?

[2020-01-10 15:40] harrydema opened #167 "Custom receiver for Android"
**Describe the bug**
When I add the Custom receiver and target it on the AndroidManifest.xml I get the following error:

[code]

This is the class created at main/java/com/test folder:

[code]
The app_id exists on the strings.xml

This is the android manifest:

[code]

**Versions:**
- RNGC Library Version: 3.2.2
- React Native 0.61.5

**To Reproduce**
Steps to reproduce the behavior:
1. Install th

[2020-01-10 15:47] petrbela commented on #167
You need to import `Context` and `CastOptions`

[2020-01-10 16:00] harrydema commented on #167
For anyone facing this problem I had to do 2 things:
1) Add this to the app/build.gradle:
[code]

2) Add this 2 lines on the CastOptionsProvider:
[code]

[2020-01-10 16:01] harrydema commented on #167
This should be updated on the docs @petrbela

[2020-01-10 16:15] petrbela commented on #167
Yeah I'll add it, thanks.

[2020-01-13 01:52] #167 closed

[2020-01-13 13:56] git-anshuls commented on #147
@raphaelluiz128 did you find any resolution for this, as I am also facing a similar problem?

[2020-01-16 17:16] sanjeevghimire opened #168 "react-native-google-cast/ios/RNGoogleCast/RNGoogleCastButton.m:1:9: 'GoogleCast/GoogleCast.h' file not found"
**Describe the bug**
using the podfile in react native application gives the following error:
[code]

**Versions:**
- RNGC Library Version: [3.2.2]
- OS Version (if applicable): [13.1]

**To Reproduce**
Steps to reproduce the behavior:
1. podfile contains:
[code]
Podfile resides insie ios folder

After pod install run the build using xcode.

I also added frameworksearch path as:

![RNGoogleCast_xc

[2020-01-16 17:16] sanjeevghimire commented on #168
Any help is appreciated? thank you

[2020-01-16 18:23] petrbela commented on #168
Hmm would you be able to upgrade to RN >= 0.60? It is more pod friendly and might resolve the issue.

[2020-01-16 18:33] sanjeevghimire commented on #168
@petrbela I will try that.

[2020-01-20 02:44] nenjamin2405 opened #169 "[iOS] Google Cast Player's progress bar is overlapped by the Notch in landscape mode"
**Describe the bug**
In landscape mode, Google Cast Player's progress bar is overlapped by the Notch of iOS devices

**Versions:**
- RNGC Library Version: [e.g. 3.2.0]
- iOS Version (if applicable): [e.g. 13.3]

**To Reproduce**
Steps to reproduce the behavior:
1. Cast video on iPhones with Notch in landscape mode
2. See the problem of overlapping

**Expected behavior**
A progress bar of Google Ca

[2020-01-23 09:43] knifedge opened #170 "AndroidX support"
Android Build failure with React-native v0.60.5. Since latest android versions uses androidx.appcompat:appcompat:1.0.0 and RNGC is expecting  package android.support.v7.app.

**Versions:**
- RNGC Library Version: [v3.2.2]
- Android Version : 29.0.0
- Android OS: Q

[2020-01-23 15:41] petrbela commented on #170
Hey, are you using [jetifier](https://github.com/mikehardy/jetifier)? It should work as per #131. Which reminds me I need to update the docs.

[2020-01-23 16:52] knifedge commented on #170
Hi @petrbela, i just followed the docs. Yeah updating document will help! Thankyou.

[2020-01-23 17:08] knifedge commented on #170
I am using react-native-navigation in my project, so i can't Change your MainActivity to extend GoogleCastActivity and also project doesn't consist android.support.v7.app.AppCompatActivity support since it's AndroidX.

If i add *CastContext.getSharedInstance(this);*  inside onCreate function, build fails.. even with jetify.

[2020-01-25 15:04] hoang-rio commented on #151
Any update? I have same issue

[2020-01-26 07:47] hoang-rio commented on #120
Same problem on ios. So have any solution to receive event in background?

[2020-01-29 20:16] danielgssp opened #171 "iOS 13 Permission Changes and Update to Cast SDK 4.4.4"
**Describe the bug**
There was a problem with current versions iOS >= 13, recently google release a new [permissions changes ](https://developers.google.com/cast/docs/ios_sender/ios13_changes) from iOs 13 now we must add `Privacy - Bluetooth Always Usage` and then update `google-cast-sdk` to cast SDK 4.4.4, I tried to update with `CocoaPods` from `3.2.2` to `4.4.4` it can't because that error bell

[2020-01-30 04:04] petrbela commented on #171
It's a known issue. Please read the [installation instructions](https://github.com/react-native-google-cast/react-native-google-cast#installation) for CocoaPods and let me know if anything's unclear.

[2020-01-30 13:56] victorhermes commented on #94
Where can I paste this code?

[2020-01-31 00:40] victorhermes commented on #165
Same problem. Any update?

[2020-01-31 17:31] petrbela commented on #165
I'm unfortunately swamped with work (two startups 😔) so if anyone has time to look into this, any help/PRs is welcome!

[2020-02-01 02:56] victorhermes commented on #165
I remove this snippet of code and and nothing happened. It works. After all, what is the function of initChannel and sendMessage?

`
function sendMessage() {
  const channel = 'urn:x-cast:com.reactnative.googlecast.example';

  GoogleCast.initChannel(channel).then(() => {
    GoogleCast.sendMessage(channel);
  });
}
`

[2020-02-01 17:28] petrbela commented on #165
@victorhermes It's for sending messages to a custom receiver app. You definitely don't need it unless you're building something custom.

[2020-02-02 14:12] victorhermes commented on #165
When you say custom receiver app, are you saying chromecast styles?

[2020-02-02 19:25] git-anshuls opened #172 "Works only after minimising the app and opening it back"
Description:
The application fails to detect any nearby device when it started, but when I minimize it and open it again, it works perfectly fine.

- RNGC Library Version: 3.2.2
- OS: Android (Have tested on multiple versions of android OS)

Steps to reproduce the behavior:
1. Open the application.
2. Go to the page where Chromecast is used.
3. The Chromecast icon does not show up, even if the dev

[2020-02-02 19:49] petrbela commented on #165
@victorhermes From https://developers.google.com/cast/docs/developers:

A receiver application that handles communication between the sender app and the receiver device. You have the following options:
- The Default Media Receiver presented with the Google Cast branding and styling.
- The Styled Media Receiver for which you can develop the styles and branding. See Styled Media Receiver.
- A **cust

[2020-02-04 07:34] TriPSs commented on #94
@victorhermes The first two parts are inside `styles.xml` and the second one is inside `arrays.xml`

[2020-02-05 06:01] jsdt opened #173 "Wrap mini media controls for iOS"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to display [mini controls](https://developers.google.com/cast/docs/design_checklist/sender#sender-mini-controller) in ios.

**Describe the solution you'd like**
I'd like a component that wraps [GCKUIMiniMediaControlsViewController](https://developers.google.com/cast/docs/reference/ios/interface_g_c_k_u_i_mini_me

[2020-02-05 12:47] #171 closed

[2020-02-05 17:44] alburdette619 commented on #20
Hey, how's this effort going?  I'll be needing this functionality with background imagery if possible within the next couple months.  I could put a dev to work on it and at least get a working integration if no steps have been undertaken thus far.

[2020-02-05 18:35] petrbela commented on #20
@alburdette619 Good question! I think mp3 files might already be working, though I haven't tested them. There's also support for setting a cover image in the current version, which might be what you're looking for. Let us know if something doesn't work or is missing.

[2020-02-07 23:29] victorhermes commented on #167
Where do I paste this code? Do I need to create a file or something like this?

[2020-02-10 05:18] petrbela commented on #167
@victorhermes Yes, create a file named `ClassOptionsProvider.java` in the same package where you have `MainApplication.java` (com.glow in this example)

[2020-02-10 15:28] jasonbodily opened #174 "Incorrect README, or missing feature"
**Describe the bug**
The documentation says there is a function `getCurrentDevice` available on GoogleCast. No such function exists in the source.

**To Reproduce**
Steps to reproduce the behavior:
1. Invoke `GoogleCast.getCurrentDevice()`

**Expected behavior**
Device information should be returned. Instead I get function is not defined.

[2020-02-10 15:30] jasonbodily commented on #174
The intent is to get information on the currently connected device. getCurrentDevice does not work, and `getCastDevice` returns `undefined` even when `getCastState` is `Connected`

[2020-02-10 15:33] petrbela commented on #174
Ha! Indeed it's missing. Do you want to make a PR? I'm not sure when I'll have time to fix this.

[2020-02-11 10:44] ronit-kadwane commented on #133
@petrbela Any update on this issue?
I am also facing the same issue on Samsung S9 and S10 devices.

[2020-02-12 06:29] ronit-kadwane commented on #168
I am also facing the same error. **'GoogleCast/GoogleCast.h' file not found**

**Environment**
[code]
Podfile
[code]
@petrbela  Can you please help me out here why I am facing this error?
Please provide possible solutions.
-Thanks

[2020-02-13 04:44] alejandrorangel commented on #172
@git-anshuls  I was expiring the same behavior, I force my app to use `com.google.android.gms:play-services-cast-framework:16.2.0` which is the version that was being used before and everything when back to normal. hopefully, that would work for you

[2020-02-13 22:58] joeyscarim opened #175 "Android, v4: Could not invoke RNGCRemoteMediaClient.loadMedia"
**Describe the bug**
I am using the v4 branch, following the `example` and `playground` examples.
I detailed my setup instructions here: https://github.com/joeyscarim/react-native-cheatsheet#-chromecast

On iOS I have no issues: cast button -> connect to chromecast -> loadMedia working.
On Android, I can: cast button -> connect to chromecast -> but get an error when I trigger loadMedia:

![Screen

[2020-02-25 20:59] joeyscarim commented on #175
switched to v3 instead and was able to get it working following the readme

[2020-02-25 20:59] #175 closed

[2020-02-26 23:40] joeyscarim commented on #151
I am experiencing this also.

GoogleCast.getCastState() is "Connected", but trying to do anything after that, or even  GoogleCast.endSession(); does not work.

[2020-03-08 10:34] aubert-creation commented on #142
Same issue. Work great on iOS simulator and no cast button on Testflight. I have a run script for unused architecture too.

Any updates? @normenster do you have fix your issue ?

[2020-03-09 10:59] mihaerzen opened #181 "Get notified when Expanded Media Controls are dismissed"
First of all, thanks a lot for the amount of work you've put into this project! Greatly appreciated!

**Is your feature request related to a problem? Please describe.**
I have a specific use case where I would like to pause/stop the video when expanded media controls are being dismissed.

**Describe the solution you'd like**
For a given scenario, I believe a notification about dismissal should be

[2020-03-14 18:17] petrbela commented on #169
Hey, I think this goes beyond the scope of this package. You might try googling general Google SDK or iPhone X horizontal video questions but I'm not sure if there's a good common solution to this issue.

[2020-03-17 09:03] aubert-creation commented on #165
Any news ? I reproduce this bug and I must use custom message for send params to my receiver app. Or maybe there is a clean solution to send params after CastButton pressed and Session started ? Help me :)

[2020-03-19 07:34] brooklyn097 opened #183 "Is there any way to send custom headers to default receiver?"
Hi, Thanks for great package!

I'm wondering how to send custom headers like cookie or something else to do authentication to default receiver? I've done some research and it seems could be done with a custom receiver but i just want to use default receiver.

[2020-03-23 21:34] jamobile opened #184 "Send youtube links"
There is a custom cast receiver here:
https://github.com/PierfrancescoSoffritti/android-youtube-player/tree/master/chromecast-receiver

Add a send youtube links using this package.

[2020-03-27 10:27] neoassyrian opened #185 "Error when calling CastMedia"
Hi guys,

I'm getting an error message when calling CastMedia on ios. I'm not sure why. The state before the castMedia call is "connected" and the cast button shows that is connected to the device.

Error: No castSession!
  at castMedia(app:///main.jsbundle:735:488)

Any idea where the "No castSession!" is coming from?

Keep in mind the same logic works fine on Android. I have also added "Access W

[2020-03-28 20:31] arnimi opened #186 "CastButton not rendered on Android"
**Describe the bug**
CastButton is not rendered when there are Chromecast devices on the network

**Versions:**
- RNGC Library Version: 0.61.5

**Expected behavior**
CastButton should be rendered because there is a Chromecast on the network.

**Additional context**
CastButton appears if _GoogleCast.showCastPicker()_ is forced because at that time it starts to search devices **and finds one**, the

[2020-04-01 05:06] cgranetgithub commented on #185
I have the exact same problem.

[2020-04-01 05:39] neoassyrian commented on #185
Are you streaming video, audio or live (e.g. Radio Stream)?
It started working for me. The only change I did was to add "isLive: true" because I was streaming a radio stream.
Still don't know where that error was coming from

[2020-04-01 07:48] cgranetgithub commented on #185
Thx for your feedback. I'm streaming video (HLS) hosted on CloudFront, so it is not live (actually it is VOD).
I tried with isLive, just in case, still the same error message...

[2020-04-02 16:42] Nitesh-Kanyal commented on #87
Hi any updates on how to use with react-native-navigation?

[2020-04-02 21:40] #186 closed

[2020-04-07 05:04] knifedge commented on #170
@petrbela : i was able to integrate this library, however not finding cast button on android... anyway to fix this?

[2020-04-08 12:02] marcusstenbeck commented on #185
@neoassyrian @cgranetgithub

tl;dr; Don't use `GoogleCast.getCastState()` to determine if a session is ready for `castMedia()`. Rely on the `react-native-google-cast` events instead.

Using `GoogleCast.getCastState()` doesn't seem to be a reliable way of knowing that there's a cast session.

The docs for [`react-native-google-cast`](https://github.com/react-native-google-cast/react-native-google-c

[2020-04-09 09:08] marcusstenbeck commented on #151
@joeyscarim What error are you getting when doing `GoogleCast.endSession()`? Is it the `No castSession!` error?

[2020-04-09 09:08] marcusstenbeck commented on #151
I think #185 is related to this.

[2020-04-14 14:07] mezalejandro opened #189 "Android Attempt to invoke virtual method getDeviceId()"
**Describe the bug**
On firebase I have the error:
Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.google.android.gms.cast.CastDevice.getDeviceId()' on a null object reference
       at com.reactnative.googlecast.GoogleCastModule$3.run(GoogleCastModule.java:185)

**Versions:**
- RNGC Library Version: 3.1.3
- Android Version (if applicable): 6

[2020-04-15 18:11] gleidsonp commented on #106
Hi! getting on 'pod install' on #v4:

`[!] Invalid Podfile file: [!] No podspec exists at path node_modules/react-native-google-cast/ios/react-native-google-cast.podspec.`
` >    use_native_modules!`

[2020-04-16 10:07] cgranetgithub commented on #185
@marcusstenbeck I tried to add those lines but it did not solve my problem.

However I managed to get rid of this "no cast session" issue by calling the "this.registerListeners()" method in the "componentDidMount()" of my component, as it is done in the example.
I suppose that it somehow establish the session...

[2020-04-16 18:25] iandonov commented on #170
@knifedge How did you manage to build it?
Thanks

[2020-04-16 18:38] knifedge commented on #170
Hi @iandonov , i integrated everything into mainapplication.java... Left mainactivity file as it is.
And also ran jetlifier after node_module installation..

However cast button inconsistencies and issue on ios remains..

[2020-04-24 09:15] egorzvuzdetskyi commented on #154
+1

[2020-04-25 09:43] Stenbaek commented on #154
+1

[2020-05-03 09:08] MwareSolutons opened #193 "Cast button isn't displayed on an iOS device (but shows in emulator)"
hi All,

the package is working perfect on all android devices and IOS emulator but not on a real device the cast button just does not display. I did add the Access WiFi capability.

what else could it be ?

thanks in advance for the help...

[2020-05-05 19:11] redreceipt commented on #151
+1 on this issue

[2020-05-06 06:38] bpolonia commented on #193
I got it working on a real device a few weeks ago. Did you add the pod to your Podfile?

For example, I added

`pod 'react-native-google-cast/NoBluetooth', path: '../node_modules/react-native-google-cast/ios/'`

to my `Podfile` and did a `pod install`.

Before doing that, I thought maybe autolinking would work, but saw that the button wouldn't display until I added it to my Podfile myself. (Althou

[2020-05-07 15:11] PauloMello99 opened #194 "[ANDROID] DynamiteModule$LoadingException: Failed to get module context"
**Describe the bug**
I collected this error from the Firebase Crashlytics attached to my app. Apparently the line 445 of the GoogleCastModule.java throws an error of null context. I was not able to reproduce the error on a physical or emulated device.

**Versions:**
- RNGC Library Version: 3.3.0
- Android Version: 28/29

**Devices**
- Samsung
  - Galaxy Tab S3
  - Galaxy S9
- Motorola
  - Moto G(7

[2020-05-08 12:19] msal4 opened #195 "Where is V4?"
Hi there, I see that the last commit for v4 is from 6 months ago, so I wanted to know if it's still under development or it's cancelled or something?

If you need help with an issue or something, I'll be more than happy to help.

Thanks.

[2020-05-08 22:48] petrbela commented on #195
Hey, @msal4 it's about 90% done but I've been pretty busy lately launching a new startup and all stopped all side projects. I'd be more than happy to add you as a contributor if you're interested. I'll try to find some time this weekend to sum up what's missing and what my thoughts are.

[2020-05-11 06:57] hapo-thinhnh commented on #172
@git-anshuls @alejandrorangel you have solved this problem yet? I am having the same problem, help me please.

[2020-05-12 10:43] paramaggarwal commented on #154
+1

[2020-05-15 14:14] goncalo-assuncao commented on #139
Is there a fix for this? This is still happening. Cast works fine, but the app crashes if we call the launchExpandedControls. Using the react-native 0.59 and react-native-google-cast 3.3.0

[2020-05-29 09:05] hapo-thinhnh opened #197 "when 2nd device connected, no events are triggered ?"
When 2nd device is connected, no events triggered. I expected that: when 2nd device connect, 1st device will be disconnected

[2020-06-08 10:42] hosek commented on #165
Check if channel id match on both sides sender/receiver

[2020-06-09 09:11] syngi opened #199 "mirror app"
Is it possible to mirror the app instead of casting media?

With the [Google Cast SDK](https://developers.google.com/cast/docs/developers) it should be possible to mirror the whole app screen. That is, according to a Software Engineer for Chromecast [on stackoverflow](https://stackoverflow.com/questions/41499247/screen-mirrorring-using-chrome-cast-example-code-or-tutorial#comment70666149_41499834)

[2020-06-09 15:05] rgordon95 commented on #199
It sounds to me like you need to build a custom receiver rather than change the sender sdk. https://stackoverflow.com/questions/47396297/mirroring-app-chromecast

[2020-06-09 15:28] syngi opened #200 "showIntroductoryOverlay error on Android"
`GoogleCast.showIntroductoryOverlay()` throws error `TypeError: _reactNativeGoogleCast.default.showIntroductoryOverlay is not a function.` in Android, while iOS works fine (though seems to show overlay also when no Chromecasts are in range, thus when the button is not rendered).

**Versions:**
- RNGC Library Version: 3.3.0
- React: 16.11.0
- React Native: 0.62.2

**To Reproduce**
1. Install and se

[2020-06-09 15:31] petrbela commented on #199
Unfortunately, [the tutorial that everyone links to](https://developers.google.com/cast/docs/remote) doesn't seem to exist anymore. I believe the underlying API is [this one](https://developers.google.com/android/reference/com/google/android/gms/cast/CastRemoteDisplayClient), however, it looks like it only exists on Android. I don't think you'd need to build a custom receiver, and, certainly, the

[2020-06-12 11:24] vilius commented on #195
@petrbela that is great to hear. We're also relying on this project to power our iOS and Android apps. Got it working fine, but there are some hiccups that could be solved in V4. I would be glad to find some time to contribute on getting V4 out.

[2020-06-12 11:29] vilius commented on #165
I was getting same error but the problem was that I forgot to add Chromecast App ID to AppDelegate.m

[code]

After that got it working with iOS and Chromecast custom receiver app.

[2020-06-16 05:05] reena-bacancy commented on #139
GoogleCast.getCastDevice().then((data) => {
      if (data != undefined) {
        GoogleCast.castMedia(video);
        try {
          GoogleCast.launchExpandedControls();
        } catch (error) {

        }
      }
    });

[2020-06-19 12:11] Onlyward commented on #58
Hello,

I've followed the discussion, but sadly I wasn't able to solve the live streaming issue.

Here is an example what I'm doing:

  GoogleCast.getCastDevice().then(console.log);
  GoogleCast.castMedia({
    mediaUrl: 'SOME_URL_WITH_LIVE_STREAMING.m3u8',
    imageUrl: 'http://some-image.com/01.png',
    title: 'Channel 001',
    subtitle: 'Channel 001',
    isLive: true,
  });
  GoogleCast.laun

[2020-06-23 15:08] redreceipt opened #202 "Can't Click Android Button Inside TouchableWithoutFeedback"
**Describe the bug**

Can't click the cast button on Android devices when nested inside `TouchableWithoutFeedback`

**Versions:**
- RNGC Library Version: 3.3.0
- Android Version (if applicable): 10

**To Reproduce**
[code]

**Expected behavior**

Should be able to click the  button and have the menu show up

**Screenshots**

![Screenshot_20200623-091029](https://user-images.githubusercontent.com/2

[2020-06-23 15:43] dcalhoun commented on #195
@petrbela is there a set of issues that is blocking a V4 launch? If not, would it be possible to capture those issues with a special label or use [GitHub Projects](https://github.com/react-native-google-cast/react-native-google-cast/projects) to organize them so that others (hopefully including myself) can help bring V4 across the finish line?

[2020-06-26 14:26] andrea-valenti-sky-it opened #205 "The view is not clickable and cast process not working on iOS 13.3"
**Describe the bug**
[TableView] Warning once only: UITableView was told to layout its visible cells and other contents without being in the view hierarchy (the table view or one of its superviews has not been added to a window). This may cause bugs by forcing views inside the table view to load and perform layout without accurate information (e.g. table view bounds, trait collection, layout margi

[2020-06-26 14:54] petrbela commented on #205
Hi! Can you please post a screenshot of what your view looks like? I'm wondering why you're getting an error from tableview, which this library doesn't use.

[2020-06-29 14:24] redreceipt commented on #202
Any ideas or updates on this issue?

[2020-06-29 14:49] redreceipt commented on #202
Could this potentially be a related fix?

https://github.com/wix/react-native-navigation/commit/4b755a3884c2ddd74c1e1817e14b748180d77a5d

[2020-06-29 18:18] redreceipt commented on #202
So slight update, it seems when I wrap in a `View`, I can only click the left edge of the button space:

[code]

But when I don't wrap in a `View` it works perfectly.

[code]

Any ideas on what may be happening?

[2020-06-29 18:28] petrbela commented on #202
Hmm, I'm not an Android expert so not sure exactly what might be the problem/fix here.

Btw why are you wrapping the button in a touchable? If you're trying to make the touchable area of the button larger, could you just add `padding`? The `CastButton` already handles touches.

[2020-06-29 18:40] redreceipt commented on #202
the background is touchable so the controls disappear, the screenshot above might give you a little better context.

[2020-06-29 20:24] petrbela commented on #202
Oh you mean the whole screen is wrapped with `Touchable`. Gotcha.

I'm sorry I don't have an answer for you right now but I'll try to look into it.

[2020-06-29 20:31] redreceipt commented on #202
Excellent, thanks. I put in a workaround, not wrapping the whole screen anymore. Just a flexed view outside the cast button so not urgent.
GitHub <notifications@github.com> wrote:
“Oh you mean the whole screen is wrapped with Touchable. Gotcha.

I'm sorry I don't have an answer for you right now but I'll try to look into it.”

—
You are receiving this because you authored the thread.
Reply to this

[2020-07-01 04:35] hapo-thinhnh opened #206 "posterUrl does not work on IOS"
When cast, I have added **_posterUrl_** to display the background in **_Expanded Media Control_**:

[code]

But **_posterUrl_** does not work on **_iOS_**, it will take **_imageUrl_** as the background of **_Expanded Media Control_**. On **_Android_**, it works normally.

[2020-07-02 14:58] dcalhoun commented on #151
I believe I have been able to identify why this issue is occurring for some. I have outlined some of those details in #207.

If you place the code to [initialize the Cast context](https://developers.google.com/cast/docs/ios_sender/integrate#initialize_the_cast_context), which is outlined in the `react-native-google-cast` [setup documentation](https://github.com/react-native-google-cast/react-nativ

[2020-07-02 14:59] dcalhoun commented on #185
I believe I may have identified why some people experience this issue. I have outlined the details in https://github.com/react-native-google-cast/react-native-google-cast/issues/151#issuecomment-653056964.

[2020-07-03 06:11] rajb19 opened #208 "Can I cast app/screen?"

[2020-07-03 12:36] reena-bacancy commented on #199
have you found in solution for screen casting?

[2020-07-03 12:38] rajb19 commented on #199
Have you found any solutions for screen casting?

[2020-07-03 12:40] syngi commented on #199
Alas, like @petrbela mentioned :

And I haven't looked into it myself.

[2020-07-03 12:43] rajb19 commented on #199
Okay

[2020-07-03 14:44] petrbela commented on #208
Duplicate of #199

[2020-07-03 14:44] #208 closed

[2020-07-05 20:05] petrbela commented on #151
@dcalhoun This would make a lot of sense. I'm actually not sure why the initialization code was ever placed at the end when all 3rd party native libraries should initialize before RN. I've just updated the examples appropriately.

@redreceipt @marcusstenbeck @hoang-rio @nenjamin2405 Can you guys see if it fixes the problem for you?

[2020-07-07 16:06] ritambrata opened #209 "react native chromecast "no media selected""
i have many videos in my app. i want to cast the video by clicking it. i set a receiver and sender for cast. it successfully pair with my tv but every time it says "no media selected". please help me out of this.

componentDidMount() {
        this.registerListeners()
        GoogleCast.getCastState().then(console.log)
        this.getCast()
 }

  registerListeners() {
        const events = `

[2020-07-14 15:45] redreceipt opened #210 "HLS Stream Hangs"
**Describe the bug**

When using the following HLS playlist, the stream on the cast device hangs. Not sure if there's a way to tell if what's in the playlist is supported. Stream plays fine through `react-native-video`. Also plays fine in Safari.

Side note, it also causes the remote cast device to become unresponsive. When clicking "stop casting" in the app. Nothing happens on the TV.

[code]

**

[2020-07-14 19:31] redreceipt commented on #210
Not even sure how to get visibility into errors happening on the cast device...

[2020-07-28 10:21] bittu1028 commented on #202
Any solution here @redreceipt  i am stuck with this casting button not being clickable inside TouchableWithoutFeedback

[2020-07-28 10:29] redreceipt commented on #202
It’s definitely a bug. I just un-nested it 🤷‍♂️ So now my button and my controls are in a separate bottom section and the rest of the screen is flexed out.

Sent from my iPhone

[2020-08-02 02:20] hoang-rio commented on #151
Nothing change. No cast session error exists after restart app

[2020-08-06 21:09] d3vhound commented on #210
@redreceipt did you ever figure this out?

[2020-08-07 00:02] redreceipt commented on #210
No I didn't. Haven't given it any more attention. Are you seeing similar issues?

[2020-08-10 18:56] usamamoinakhter commented on #205
Facing the same issue but unable to select any option on this screen
[Image URL](http://imgur.com/a/ERNWFxb)

[2020-08-11 16:38] ashnfb commented on #171
I found on iOS 14, the expanded controller caused the app to crash using google-cast-sdk 4.3.0.  I got around this by using the no-bluetooth subspec, which hilariously doesn't specify a google-cast-sdk version (so it uses the latest available).

in my podfile:
[code]

[2020-08-19 08:11] anacentea commented on #205
Hello, I am facing the same issue, can't use guest mode on iOS 13.6. The "Connect to nearby devices" view is not tappable and can't close it. Has this been fixed, or are there any workarounds?

[2020-08-19 08:45] usamamoinakhter commented on #205
No, still unable to find a workaround.

[2020-08-21 21:23] curiousdustin opened #212 "[iOS] What is the proper setup for React Native 0.60+ ?"
Should this module detect Chromecast devices while using auto linking in RN 0.60+?

When I let auto linking do it's thing, no devices are detected. I notice that the example app works properly, but it is using the no bluetooth version of the no bluetooth version.

My solution was to disable auto linking in `react-native.config.js` and add the no bluetooth pod to Podfile.

```pod 'react-native-goog

[2020-08-24 07:27] andrea-valenti-sky-it commented on #205
Hello, I use the alternative procedure "pod react-native-google-cast/NoBluetooth", and this work for me but not with same UI interface

[2020-08-24 10:38] usamamoinakhter commented on #205
Thanks i will have a look at it. Hopefully it would work.

[2020-08-24 10:40] anacentea commented on #205
I integrated the no blueetooth one and it works but it lacks the guest mode feature

[2020-08-27 07:56] thanhdanh1089 commented on #93
Hi @petrbela ,
I am trying to cast video hls version > 3.2 and it not work on chromecast gen 1. I am not sure the reason. But could you help me check my file is work on chromecast gen 1?
"https://cdn-trinity-christian-centre-01.akamaized.net/Content/HLS/Live/channel(play1)/index.m3u8"

Thank in advance

[2020-08-27 14:55] luis-f-lins commented on #93
@petrbela @thanhdanh1089 I am also trying to stream M3U8 files with no success... Any updates on this?

[2020-08-27 17:36] demianp commented on #185
I fixed a similar issue. You can check here:
https://github.com/react-native-google-cast/react-native-google-cast/pull/188#issuecomment-682090063

[2020-08-27 17:37] demianp commented on #151
hey guys, please check this solution:
https://github.com/react-native-google-cast/react-native-google-cast/pull/188#issuecomment-682090063

[2020-08-28 02:36] thanhdanh1089 commented on #93
@luis-f-lins u
I see with hls file version > 3.2 it's not work. if hls file <=3.2 it's work well. I think the problem is player of chromecast but i'm not sure.

[2020-08-29 10:15] nikesh8 commented on #168
@petrbela Any Update on this or need to Update React Native? I am also facing the same error just my pod file has some different packages. Please see below the code snippet of my project pod file.

[code]

[2020-09-06 15:20] AnasAlsaadi commented on #163
same here !

[2020-09-07 14:03] msal4 commented on #139
Still no solution?

[2020-09-09 12:33] msal4 opened #214 "AppDelegate.m:41:38: Use of undeclared identifier 'GCKDiscoveryCriteria'"
**Describe the bug**
When building the app for ios in release mode this error occurs.

**Versions:**
- RNGC Library Version: 3.3.0
- OS Version: 13.1

**To Reproduce**
Steps to reproduce the behavior:
Edit the schema and change the build configuration to release then run the app in the simulator or archive using generic ios device.

**Expected behavior**
To build successfully.

**Screenshots**
<im

[2020-09-10 22:41] loria33 opened #216 "Reseting cast options to show reciever and not video from previous cast"
**Describe the bug**

**Versions:**
-RNGC - Master
-RN - 0.60
-IOS 14

Cast button is in header of react navigation

**To Reproduce**
Steps to reproduce the behavior:
1. Tap on Cast button
2. Cast video
3. Tap on Cast button
4. Stop Casting
5. Tap Cast button on different view --The video from step 2 is cast and not the reciever

**Expected behavior**
To reset the cast options

[2020-09-14 14:24] loria33 commented on #214
Hi ,line 30 has an #endif  ... check if you didn't import the GoogleCast into the flipper if Debug statement.

[2020-09-15 17:59] AndriyShpyra commented on #209
@ritambrata have you added  into AppDelegate.m  'initWithApplicationID:@"yourChromecastAppId"  ?

[2020-09-15 19:13] jacob-israel-turner commented on #195
Hey @petrbela!  Thanks for the great work you do on this project - I'm really excited to use it!  I'm integrating v4 into our project right now.

What can we, as a community, do to help get v4 out?  Is it just documentation that needs writing?  Are there pending bugs or features that need written?  Would it help to add a few collaborators who can keep the project moving?

Thanks again!

[2020-09-15 19:31] msal4 commented on #214
Thank you @loria33 👍 , I spent too much time looking to for a solution to the issue that I didn't even stop to look at the code for two minutes to find this stupid mistake.

[2020-09-15 19:31] #214 closed

[2020-09-15 23:45] jacob-israel-turner opened #218 "Implementing Bob in the v4 breaks installation"
**Describe the bug**
When installing on the v4 branch, I get a bunch of Typescript build errors.  This happens while the `bob build` command is running.

**Versions:**
- RNGC Library Version: v4 branch, latest commit.
- Android Version (if applicable): Not applicable, it's a build-step failure.
- OS Version (if applicable): Not applicable, it's a build-step failure.

**To Reproduce**
Steps to repr

[2020-09-16 00:11] jacob-israel-turner opened #219 "Error building v4 on iOS"
**Describe the bug**
I'm getting this error on iOS when building from branch `v4`:
[code]

**Versions:**
- RNGC Library Version: v4 branch
- Android Version (if applicable): N/A
- OS Version (if applicable): N/A
- XCode Version (if applicable): 11.6

**To Reproduce**
Steps to reproduce the behavior:
1. Install v4 branch into React Native project
2. See build errors

**Expected behavior**
Build hap

[2020-09-16 11:49] nickfujita commented on #218
Also experienced this today, glad I wasn't the only one!

[2020-09-16 19:52] snowbillr opened #220 "iOS build fails when built with Detox and Xcode 12 beta"
**Describe the bug**
Building my app for iOS fails when building with Detox and Xcode 12 beta.

**Versions:**
- RNGC Library Version: 3.3.0
- Android Version (if applicable): n/a
- OS Version (if applicable): 14? it's really just the build process that's affected, not at runtime

**To Reproduce**
Steps to reproduce the behavior:
1. Run `detox build` and use Xcode 12 beta to build the app

**Expect

[2020-09-16 20:04] petrbela commented on #220
Hey, I still need to upgrade to iOS 14 myself (planning to do that for v4) but from your description, it seems the problem is Xcode now also tries to compile the library for `arm64` architecture which is Apple's new ARM-based platform (what they call Apple Silicon). Does Xcode have a setting to disable it for now and just create a standard x64 (Intel-based) build?

[2020-09-16 20:18] snowbillr commented on #220
There's something new with [iOS apps being able to be run on MacOS](https://www.engadget.com/ios-apps-arm-powered-macs-192046502.html#:~:text=According%20to%20Apple%2C%20since%20the,Mac%20OS%20without%20any%20modification.), so I wonder if that's contributing to the problem!

[2020-09-16 20:21] petrbela commented on #220
I think that shouldn't matter; iOS apps aren't really changing, it's macOS that's getting compatible. I'm installing Xcode 12 now and will test this today.

[2020-09-16 20:25] snowbillr commented on #220
Thanks a ton!

[2020-09-16 20:52] jacob-israel-turner opened #221 "Upgrade Google Cast SDK to v4.5.0"
**Is your feature request related to a problem? Please describe.**
Not a problem I've encountered, [but one that Google has documented](https://developers.google.com/cast/docs/ios_sender/ios_permissions_changes#ios_14).

**Describe the solution you'd like**
According to the Google Cast guidelines, we should upgrade the Google Cast SDK to v4.5.0.

**Describe alternatives you've considered**
N/A

**

[2020-09-17 02:54] nickfujita commented on #218
@jacob-israel-turner Thanks for filing this bug in such detail. Were you able to find a workaround to allow the build to complete successfully?

[2020-09-17 04:03] jacob-israel-turner commented on #218
Hi @nickfujita!  I was not able to find a workaround - I ended up forking the repo and reverting this commit, but I ran into a [couple](https://github.com/react-native-google-cast/react-native-google-cast/issues/219) other [issues](https://github.com/react-native-google-cast/react-native-google-cast/pull/217).  We are going to have to wait until these issues are resolved before implementing on our

[2020-09-17 23:30] jonathanm-tkf commented on #125
Yes I have the same problem only Android and only EXPANDED CONTROLLERS thanks

[2020-09-22 13:23] luis-f-lins commented on #221
One thing I noticed: at least for me, the `CastButton` is not showing up when I build my app on an iPhone running iOS 14.0. The button is correctly displayed on an iPhone on 12.0, and on multiple Android devices, though. I believe that this might have something to do with this iOS change, because, AFAIK, the button does not show up if the app does not detect any Chromecast devices, and starting on

[2020-09-22 14:59] emanueluayza opened #222 "Channel is not connected or is not registered with a session."
**Describe the bug**
I'm getting this error when I try to cast an MP4 video on iOS.

`Unhandled Promise Rejection: Channel is not connected or is not registered with a session.`

I'm using the example project to do some tests, and I can cast all the videos from https://commondatastorage.googleapis.com/gtv-videos-bucket/CastVideos/f.json but when I add me own video, I get that error.

My video's UR

[2020-09-22 15:28] #222 closed

[2020-09-22 15:28] emanueluayza commented on #222
Fixed changing the video's URL

[2020-09-22 18:37] snowbillr commented on #220
Quick bump on this, do you have any new information?

[2020-09-24 09:54] nbennink commented on #221
I experience this problem as well. I'm running my own fork of react-native-google-cast where I changed the cast sdk to <= 4.5.0. Although I would prefer to change it to `= 4.5.0` it might be confusing that different users of this library use different versions of the cast SDK.
https://github.com/react-native-google-cast/react-native-google-cast/blob/master/ios/react-native-google-cast.podspec#L22

[2020-09-24 16:51] loria33 commented on #200
Hi did you resolve this I have the same problem

[2020-09-24 18:19] vinnyjth commented on #220
I can reproduce this when building for release on Xcode 12 when targeting the Simulator. I can build release archives fine, and I can build debug Simulator builds fine.

[2020-09-24 19:17] snowbillr commented on #220
Interesting. So it seems to be an issue while building for a release for the Simulator, but not for other targets? How bizarre.

[2020-09-25 08:03] syngi commented on #200
no, I just check with `if (GoogleCast.showIntroductoryOverlay)` for now.

[2020-09-25 09:11] merongmerongmerong opened #223 "[iOS] How can receive custom message from cast receiver in v4?"
### Versions

- Xcode 12
- react-native-google-cast@4.0.0-pre.1
- react-native@0.63.2

### Issue

In v3, I can use `GoogleCast.EventEmitter.addListener` to receive message from the receiver

[code]

In v4, `GoogleCast.EventEmitter` is no longer exported and There is new `CastSession` class and it has a `onMessage` method. so I tried

[code]

and got `TypeError: Native.getCurrentCastSession is not

[2020-09-26 21:37] jonathanm-tkf commented on #139
waiting for solution

[2020-09-26 21:48] jonathanm-tkf commented on #139
`libc++abi.dylib: terminating with uncaught exception of type NSException
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: '<GCKUIButtonBarViewController: 0x7fa3f049ff30> returned nil from -traitCollection, which is not allowed.'
terminating with uncaught exception of type NSException`

[2020-09-29 13:03] jonathanm-tkf opened #225 "Cast button ios 14 detection problem"
**Describe the bug**
I have the problem after updating to version 4.5.0 because I follow the steps in the following link

(https://developers.google.com/cast/docs/ios_sender?hl=es)https://developers.google.com/cast/docs/ios_sender?hl=es

but I am not achieving autodetection of the button, could you help me with an example of Objective C native code, because I do not know the technology.

**Version

[2020-09-30 14:29] frknnay commented on #169
Hi, does this package have this screen by default?

[2020-10-06 07:58] ururus opened #226 "iOS app crashing while trying to cast m3u8 stream"
**Describe the bug**
iOS app crashing while trying to cast m3u8 stream. I able to select and connect to chromecast device, but right after it connected it crashes. Same stream on the same screen with same parameters on android is working properly.

**Code**
[code]
also tried to add
[code]
in different combinations, but still no results.

**Versions:**
- RNGC Library Version:  3.2.0
- iOS:  13.3, 1

[2020-10-06 22:53] phvillegas commented on #226
Hi, I using the latest version and I've the same error.

Do you've any solution?

[2020-10-06 23:07] phvillegas commented on #225
I have the same problem, I can see the button but it doesn't detect the device.

It works in the simulator, but on the iPhone I can't see the chromecast

**Versions**:
- iOS 14
- RNGoogleCast Library Version: 3.3.0

[2020-10-07 14:18] younes200 commented on #218
Hi @jacob-israel-turner, could you share please you workaround ? I'm facing the same issue to switch to v4.

[2020-10-07 18:15] snowbillr commented on #220
Found a fix for it: https://stackoverflow.com/a/63955114

[2020-10-07 18:15] #220 closed

[2020-10-08 17:33] james-relyea commented on #195
I forked v4 earlier this year and made some changes to get it working for our app - I need to clean up a few things but I'll start preparing some PRs to contribute back into this project.

[2020-10-09 09:41] nbennink commented on #225
#221 is related. Cast SDK 4.5.0 seems to fix this.

[2020-10-13 15:37] jacob-israel-turner commented on #218
@younes200 I never did get it working 100%.  I think I was close, but had to move onto other projects - I'm hoping to pick this up again in the next couple of weeks.

But the two things were:
1) Reverting the commit that introduced the Bob build step
2) [Pointing to the Podspec properly](https://github.com/react-native-google-cast/react-native-google-cast/pull/217) - this fix has since been merged

[2020-10-15 13:17] jonathanm-tkf commented on #189
Same problem here but not need Firebase integration, please help

[2020-10-17 15:22] Stenbaek opened #228 "Support Cast state event"
I would love the possibility to listen to an event for the cast state changing, to know when a cast device is available, and when it is not. As of now, the CastButton is shown or hidden dynamically, depending on the cast state. I would like to be able to change my UI depending on the current state, e.g. removing parent component showing the button.

[2020-10-19 19:27] iansamz commented on #139
Has anyone found a fix for this on ios?

[2020-10-26 13:04] brandtiwari007 opened #229 "how to cast image by using this npm?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-29 16:08] beujator commented on #163
I did have this crash, but it was because I forgot to setup Google Chromecast in the appdelegate like [here](https://github.com/react-native-google-cast/react-native-google-cast#setup)

[2020-10-31 20:51] petrbela commented on #195
Hey everyone. Sorry it's been taking so long. I've just released the first beta of v4 to npm. You can install it using `npm i react-native-google-cast@next` / `yarn add react-native-google-cast@next`, read more instructions in the [brand new documentation](https://react-native-google-cast.github.io/docs/getting-started/installation).

There are still some outstanding issues and missing features (n

[2020-11-01 18:18] Jsepr commented on #226
I had the same problem and solved it by providing an `imageUrl` when casting, it seems like there is no check that `imageUrl` is provided even though it's optional, which gives the error when it tries to parse it.

[2020-11-02 19:25] hosek commented on #226
Btw I can't reproduce the iOS application crash with media streams listed above, plus example app is playing m3u8 files from
[example datasource](https://commondatastorage.googleapis.com/gtv-videos-bucket/CastVideos/f.json ) without problem, so problem is probably the image mentioned above

[2020-11-03 11:42] #226 closed

[2020-11-03 11:44] petrbela commented on #221
Using the latest version of the iOS SDK has been enabled since >=3.4.0 (and in 4.x)

[2020-11-03 11:44] petrbela commented on #226
`imageUrl` is now optional since 3.4.0

[2020-11-04 19:07] cocool97 opened #231 "Casting a .ts stream fails"
**Bug description**
I'm using this library to cast an IPTV stream to my chromecast.
The stream I receive is encoded as .ts (Content-Type: **"video/m2ts"**), and the casts from my application fails with this format. It works perfectly if I transcode this stream as mp4 (but seems to be hard to do on-the-fly with react native).

**Versions:**
- RNGC Library Version: master branch
- Android Version (i

[2020-11-04 19:14] petrbela commented on #231
Hey, for (live) streaming, cast devices support [MPEG-DASH, SmoothStreaming, and HLS](https://developers.google.com/cast/docs/media#delivery_methods_and_adaptive_streaming_protocols). The most common format, HLS, uses `.ts` files as the individual video chunks but you need to provide a `.m3u8` file that provides the metadata about how and when these `.ts` chunks should be sent. Does your stream pr

[2020-11-04 19:57] cocool97 commented on #231
I do not have such a ```.m3u8``` file, but I do have a ```.m3u```.
Isn't it possible to provide the ```ts``` stream directly to the ```castMedia``` method by providing a proper ```contentType``` ?

[2020-11-04 20:29] petrbela commented on #231
`.m3u` is an alternative name of `.m3u8` (similar to `jpg`/`jpeg`).

You cannot use `.ts` directly because `.ts` is a single video file (typically 2-5 seconds long), and the stream consists of many `.ts` files delivered as the stream progresses. (In theory, you could perhaps provide a `.ts` file but that would only play that single chunk. Think of every `.ts` chunk as a short standalone mp4 file t

[2020-11-04 21:06] cocool97 commented on #231
Do you know if it's possible to convert a ```m3u``` playlist to a ```m3u8``` ?
Do you have a working m3u8 template with such a ```ts``` stream ?

[2020-11-04 21:33] petrbela commented on #231
m3u and m3u8 is the same thing. There's no need to convert.

You can search Google for sample m3u8 files, there should be plenty.

[2020-11-06 00:28] juanpetterson commented on #154
+1

[2020-11-06 04:13] nenjamin2405 commented on #221
Hi @petrbela, I already updated to the latest version of react-native-google-cast 3.4.0 and I can see in the podfile.lock it's showing the latest SDK of Google Cast
[code]

The function works fine on emulator using iOS 12.0 and 14.0, but when I test it on real device (using iOS 14.1), when the app is opened for the first time, the Permission Popup for Local Network (below image 1) is showed, and t

[2020-11-06 04:13] nenjamin2405 commented on #225
I already updated to the latest version of react-native-google-cast 3.4.0 and I can see in the podfile.lock it's showing the latest SDK of Google Cast
[code]

The function works fine on emulator using iOS 12.0 and 14.0, but when I test it on real device (using iOS 14.1), when the app is opened for the first time, the Permission Popup for Local Network (below image 1) is showed, and the cast icon i

[2020-11-07 12:08] jonathanm-tkf commented on #125
any solution for this?

[2020-11-11 13:16] istvan-szilagyi commented on #225
@nenjamin2405 have you tried adding NSBonjourServices & NSLocalNetworkUsageDescription to your Info.plist?

Like mentioned in the documentation: https://developers.google.com/cast/docs/ios_sender/#xcode_10

[2020-11-12 03:30] jlandrum opened #232 "Disconnecting causes a crash"
**Describe the bug**
When disconnecting from Chromecast, the SDK causes a crash.

**Versions:**
- RNGC Library Version: 4.0.0-beta.1
- OS Version: 14.2

**To Reproduce**
Steps to reproduce the behavior:
1. Begin casting media
2. Bring up the controls screen
3. Select "Stop Casting"

**Expected behavior**
No crash

If you can point me in the direction of where any disconnection handlers may be, I c

[2020-11-15 19:45] airman00 commented on #58
Try this, contentType is important

[code]

[2020-11-17 14:01] ivanszhuravlev commented on #228
Totally agree with @Stenbaek, that would be awesome

[2020-11-17 14:31] petrbela commented on #228
This is now implemented in v4. You can either use an [event](https://react-native-google-cast.github.io/docs/guides/events#cast-state-events) or a [hook](https://react-native-google-cast.github.io/docs/guides/hooks#cast-state-hooks).

[2020-11-17 14:31] #228 closed

[2020-11-21 04:22] neoassyrian commented on #153
Hi @petrbela
Has been any progress on this one? :)

Thanks

[2020-11-21 14:38] petrbela commented on #153
@neoassyrian https://react-native-google-cast.github.io/docs/getting-started/installation

[2020-11-21 14:44] petrbela commented on #153
As this is now described in the new docs, I'm closing this issue.

[2020-11-21 14:44] #153 closed

[2020-11-21 15:51] jedashford commented on #225
Adding the below to our info.plist file. This fixed chromecast and amazon fling detection.

[code]

[2020-11-22 14:21] neoassyrian opened #233 "Adding items to queue"
Hi,

Is the queue functionality available in V4 beta yet?
If it is, can someone help me on how to add the items to the queue.
Do we use "loadMedia" method on the RemoteMediaClient or "queueInsertItems"?

The "MediaLoadRequest" class expects either a "mediaInfo" or "queueData".
The queueData (MediaQueueData) has an "items" property but this is not an array and it is an "MediaQueueItem" which also d

[2020-11-22 15:01] petrbela commented on #233
Good catch! The `items` should be an array of `MediaQueueItem` objects. It's just a TypeScript definition error so you should be able to pass an array there:

[code]

[2020-11-22 23:21] neoassyrian commented on #233
Hi @petrbela
Thanks for getting back to me. That's what I thought and I was trying to supply an array but then I started getting an error. I removed my initial code and supplied an array first to test it, but I'm getting this error:
Possible Unhandled Promise Rejection (id: 0):
Error: java.util.HashMap cannot be cast to com.facebook.react.bridge.ReadableMap
Error: java.util.HashMap cannot be cast

[2020-11-23 16:18] goncalo-assuncao opened #235 "Rewind/Forward buttons are always disabled in expanded controls"
**Describe the bug**
The forward and rewind buttons are always disabled in live stream

**Versions:**
- RNGC Library Version: 3.4.0

**To Reproduce**
Steps to reproduce the behavior:
1 - Connect the sender to the receiver
2 - Start playback
3 - Launch expanded controls
4 - Check forward/rewind buttons

**Expected behavior**
Buttons to be enabled and rewind/forward the stream if clicked

[2020-11-23 22:15] petrbela commented on #233
Hmm, that looks like a bug... I'll check it tomorrow!

[2020-11-23 22:18] neoassyrian commented on #233
Thank you @petrbela
I'm happy to give it a test. I tried to figure out where it is happening but everything looked right.

Please let me know. Would love to try this feature.

[2020-11-24 07:48] istvan-szilagyi commented on #225
@jedashford that's exactly what I said 😅

[2020-11-24 09:19] jedashford commented on #225
Yup! That helped me. I just gave more detailed specifics that someone can copy and paste. Thanks for the heads up.

[2020-11-24 22:22] petrbela commented on #233
Fixed in 4.0.0-beta.2

[2020-11-24 22:22] #233 closed

[2020-11-27 09:45] petrbela commented on #229
You may pass a url to an image, along with a correct contentType, to [loadMedia](https://react-native-google-cast.github.io/docs/api/classes/remotemediaclient#loadmedia):

[code]

Note that this code example uses the upcoming v4, which is currently in beta, but it works similarly in v3.

[2020-11-27 09:45] #229 closed

[2020-11-27 09:47] petrbela commented on #231
There's a similar discussion in #58, closing this one.

[2020-11-27 09:47] #231 closed

[2020-11-27 10:07] petrbela commented on #219
This is now fixed in v4 beta.

[2020-11-27 10:07] #219 closed

[2020-11-27 10:08] petrbela commented on #218
This is now fixed in v4 beta.

[2020-11-27 10:08] #218 closed

[2020-11-27 11:56] petrbela commented on #212
RN 0.60+ is fully supported in v4. Please see the docs https://react-native-google-cast.github.io/docs/getting-started/installation

[2020-11-27 11:59] petrbela commented on #210
From what I've tested, it seems Chromecast has issues playing certain HLS streams. I haven't figured out what makes it not work but in any case, I think it's a problem with Chromecast itself and not with this library. I'll close this issue but feel free to post more if you find anything.

[2020-11-27 11:59] #210 closed

[2020-11-27 12:01] petrbela commented on #223
This still needs to be ported to v4. In fact, it's one of the few remaining issues before an official v4 release.

[2020-11-27 12:02] petrbela commented on #189
This should no longer be an issue in v4.

[2020-11-27 12:02] #189 closed

[2020-11-27 12:03] petrbela commented on #93
Let's continue the discussion in #58.

[2020-11-27 12:03] #93 closed

[2020-11-27 12:13] petrbela commented on #194
I haven't seen this. Feel free to reopen if you manage to reproduce this.

[2020-11-27 12:15] petrbela commented on #206
I think this is now obsolete in v4, which should pass all images down to the native SDK.

[2020-11-27 12:15] #206 closed

[2020-11-27 12:20] petrbela commented on #174
Implemented in v4. See https://react-native-google-cast.github.io/docs/api/classes/castsession#getcastdevice

[2020-11-27 12:20] #174 closed

[2020-11-27 12:21] petrbela commented on #106
v4 now available in beta. https://react-native-google-cast.github.io/docs/getting-started/installation

[2020-11-27 12:21] #106 closed

[2020-11-27 12:28] petrbela commented on #111
I assume you have an app from which you want to cast a video that's hosted on YouTube. In order to do that, you first need to obtain a URL of the video stream.

If it's your own video then I think YouTube gives you a URL in the Creator Studio (or however it's called).

If it's not your own video, then you'd need to parse YouTube. Unfortunately, that goes beyond the scope of this library, and youtu

[2020-11-27 12:28] #111 closed

[2020-11-27 12:29] #109 closed

[2020-11-27 12:30] petrbela commented on #113
I think this should now be fixed in v4.

[2020-11-27 12:30] #113 closed

[2020-11-27 12:31] petrbela commented on #26
See https://react-native-google-cast.github.io/docs/guides/queueing

[2020-11-27 12:31] #26 closed

[2020-11-27 12:32] #92 closed

[2020-11-28 02:19] neoassyrian opened #237 "Events on V4 branch"
hi @petrbela

Is the Events finalised in the V4 branch? I have tried to use the onMediaStatusUpdated but it was not working.
Also the useMediaStatus is not firing when media is updated.

[2020-11-28 07:56] petrbela commented on #237
The native listeners are not currently being initialized. I'll hook them up probably today or tomorrow.

[2020-11-28 14:54] neoassyrian commented on #237
Thanks for that.
I've also noticed that these don't work. They might be all related.

client.getMediaStatus returns an error:
 WARN     Possible Unhandled Promise Rejection (id: 12):
Error: Attempt to get length of null array
Error: Attempt to get length of null array
    at promiseMethodWrapper (http://localhost:8081/index.bundle?platform=android&dev=true&minify=false:4976:45)
    at getMediaStat

[2020-11-29 02:18] neoassyrian opened #238 "Queue action buttons on receiver app and notification V4"
Hi,
When adding items to the queue, is the notification supposed to show the SKIP next button together with the play/pause and stop buttons? I can see that in the code, but it doesn't seem to show up.
I can see this set in the GoogleCastOptionsProvider but it is not displayed.
[code]

Also, when loading items to the queue, is the receiever app (e.g. TV or chromecast) supposed to display the next a

[2020-12-04 12:34] sujithln opened #239 "Couldn't access the SessionManager"
i Can not access the session related Events like onSessionStarted and onSessionEnded.

**I have tried the following code but i couldn't access getSessionManager from GoogleCast**

import GoogleCast from 'react-native-google-cast'

const sessionManager = GoogleCast.getSessionManager()

const listener = sessionManager.onSessionStarted((session) => {
  /* callback */
})

**Versions:**
"react": "16.13

[2020-12-04 16:07] petrbela commented on #239
The documentation is incorrect, here's how to get `SessionManager`:

[code]

(also, I think the other events are current broken #237; I'll push a fix this weekend)

[2020-12-04 16:21] sujithln commented on #239
I couldn't find the SessionManager under 'react-native-google-cast'. They haven't exported that way i think. I some how managed to import like this:

 import { SessionManager } from 'react-native-google-cast'
const sessionManager = new SessionManager()

**onSessionStarted**  event worked for me. But if i listen to any of the events related to sessionManager, in IOS, on clicking the **stop casting*

[2020-12-07 10:32] goncalo-assuncao commented on #235
Any support on this issue @petrbela ?

[2020-12-07 14:05] petrbela commented on #235
The expanded controls are part of the Cast SDK so you might search for general Google Cast iOS/Android answers as I believe it's not specific to this React Native wrapper library.

[2020-12-07 23:17] lukepighetti commented on #98
I can't get

`import com.reactnative.googlecast.GoogleCastPackage;`
or

`import com.facebook.react.GoogleCastActivity;`

to work.

Does it matter if I'm using build flavors? Is there any step I have to run in Android Studio to bring these in?

[2020-12-08 00:03] lukepighetti opened #240 "Cannot resolve symbol 'CastContext'"
**Describe the bug**
When trying to setup the `react-native-google-cast` plugin, import symbols are not resolving.

**Versions:**
- RNGC Library Version: "^4.0.0-beta.4"
- Android Version (if applicable): buildToolsVersion = "29.0.2"

**To Reproduce**
Steps to reproduce the behavior:
1. Generate new project
2. Try to follow Setup guide https://react-native-google-cast.github.io/docs/getting-starte

[2020-12-08 00:51] Bang9 commented on #232
+1

[2020-12-08 07:49] petrbela commented on #240
Hmm that should be pulled in as a transitive dependency of this package. Can you try resyncing gradle (File > Sync Project with Gradle Files)?

[2020-12-08 10:02] uttrasey commented on #240
I have this same issue, I can see CastContext in the external library dependencies but for some reason it can't be resolved from MainActivity.

![Screenshot 2020-12-08 at 10 01 55](https://user-images.githubusercontent.com/1884388/101469323-83faba00-393c-11eb-9c03-fbe81386f94b.png)

[2020-12-08 10:43] ssg-luke commented on #125
I am seeing the same issue with the expanded controller

[2020-12-08 13:11] uttrasey commented on #240
Just to follow up that the screenshot was not v4 but on v4 the same problem happens for me but version of `cast-framework` and `cast` is @v19

[2020-12-08 15:59] uttrasey commented on #240
For what it's worth I got this working. AndroidStudio tries to be useful and ask's if you want to add the cast library which is the wrong one.

I added this to `android/app/build.gradle`

[code]

[2020-12-08 16:18] petrbela commented on #240
Yes 19.0.0 is the latest one. I wonder why it downloaded 16.1.2 though. Did you set `castFrameworkVersion` as described in [step 4 of the installation](https://react-native-google-cast.github.io/docs/getting-started/installation#android)?

[2020-12-08 16:21] uttrasey commented on #240
yeh sorry the 16.1.2 was a screenshot from non v4 branch. On v4 I get the right one pulled into External dependencies (19.0.0) but as per @lukepighetti 's original description... it's not available on the classpath despite appearing in External deps.

[2020-12-08 16:32] uttrasey commented on #240
Also, step 4 sounds very optional to me.

[2020-12-08 16:44] uttrasey opened #241 "Programatically disconnect from device"
**Is your feature request related to a problem? Please describe.**

I would like to be able to disconnect from casting device via unmount of a RN screen

**Describe the solution you'd like**

An API method on the right API object so I can do it via hooks.

**Describe alternatives you've considered**

I'm not sure how else to do this.

**Additional context**
Add any other context or screenshots abo

[2020-12-08 16:53] petrbela commented on #241
This should be doable using `endSession` on SessionManager ([Android](https://developers.google.com/android/reference/com/google/android/gms/cast/framework/SessionManager#endCurrentSession(boolean)) / [iOS](https://developers.google.com/cast/docs/reference/ios/interface_g_c_k_session_manager#a25fb07952abae96d2a10fd9a479ca4e3)). Feel free to submit a pull request, or I might probably get to it late

[2020-12-08 16:54] lukepighetti commented on #240
The docs don't seem to reflect the situation on the ground, or perhaps they make an assumption about the knowledge of the reader.

[code]

The docs say to add this to `AndroidManifest.xml`, but a fresh RN project creates two. One in `app/src/main` the other in `app/src/dev`. Do I add it to both?